<div class="">
	<% if (campaigns && campaigns.length > 0) { %>
	<div class="">
		<table class="text-center min-w-full border-separate border-spacing-y-4">
			<thead>
				<tr class="text-gray-500">
					<td>Sno.</td>
					<td class="w-44 text-left">Campaign Name</td>
					<td class="w-52">Type</td>
					<td>Total</td>
					<td>Sent</td>
					<td class="w-[10%]">Delivered</td>
					<td>Read</td>
					<td>Failed</td>
					<td>Replies</td>
					
					<!-- <td>Actions</td> -->
				</tr>
			</thead>
			<tbody>
				<% campaigns.forEach((campaign, index) => { %>
				<tr class="hover:bg-gray-100 cursor-pointer border" onclick="window.location.href='/reports/campaign-list/<%= campaign.unique_id %>'">
					<td class="border-l border-t border-b rounded-lg py-4 border-gray-200 text-sm text-gray-500">
						<%= (page - 1) * 6 + (index + 1) %>
						<!-- Display index based on current page -->
					</td>
					<td class="border-t border-b border-gray-200 text-left">
						<p class="font-semibold"><%= campaign.name %></p>
						<p class="text-xs text-gray-500 date-cell" data-date="<%= campaign.createdAt %>">
							
							
						</p>
					</td>
					
					<td class="border-t border-b border-gray-200 ">
						<p class="inline-flex justify-center items-center h-fit w-fit px-2 py-1 rounded 
						<% if (campaign.status === "SCHEDULED" || campaign.status === "IN_QUEUE" || campaign.status === "PENDING") { %>
							bg-[#FFF0E5] text-[#FF6A00]
						<% } else { %>
							bg-[#EBE5FF] text-[#5526FF]
						<% } %>">
							<% if (campaign.status === "SCHEDULED" || campaign.status === "IN_QUEUE" || campaign.status === "PENDING") { %>
							Scheduled
							<% } else { %>
							Broadcast
							<% } %>
						</p>
					</td>
					<td class="text-gray-500 border-t border-b border-gray-200">
						<%= campaign.total %>
					</td>
					<td class="text-gray-500 border-t border-b border-gray-200">
						<%= campaign.sent - campaign.failed %>
					</td>
					<td class="text-gray-500 border-t border-b border-gray-200">
						<%= campaign.delivered + campaign.read %>
					</td>
					<td class="text-gray-500 border-t border-b border-gray-200">
						<%= campaign.read %>
					</td>
					<td class="text-gray-500 border-t border-b border-gray-200">
						<%= campaign.failed %>
					</td>
					<td class="text-gray-500 border-r border-t border-b rounded-lg border-gray-200">
						<%= campaign.replied %>
					</td>
				</tr>
				<% }); %>
			</tbody>
		</table>
	</div>
	<!-- Pagination -->
	<% if (totalPages > 1) { %>
	<%- include('../../commonJS/pagination') %>
	<% } %>
	
	<% } else { %>
	<!-- Empty state -->
	<div class="flex flex-col items-center justify-center min-h-[400px]  rounded-lg mt-4">
		<div class="text-center">
			<img src="https://img.freepik.com/free-vector/hands-holding-tablet-with-forefinger-clicking-start-button-new-application-launch-flat-illustration_74855-20595.jpg?ga=GA1.1.131490893.1732525963&semt=ais_hybrid" alt="No contacts" class="w-48 h-48 mx-auto mb-4">
			
			<h3 class="text-xl font-semibold text-gray-900 mb-2">No campaigns yet</h3>
			<p class="text-gray-600 mb-6">Start creating Campaigns by clicking on "Create new Campaign"</p>
			
			<%  if (whatsAppStatus === "Pending")  { %>
			<button title="Connect with whatsApp Business API to send message" class="inline-flex items-center px-4 py-2 border border-transparent text-sm hover:cursor-not-allowed font-medium rounded-md text-white bg-black hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
				<i class="fa-solid fa-plus pr-2"></i>
				Create new Campaign
			</button>
			<% } else { %>
			<button onclick="location.href = '/contact-list/createCampaign' " class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-black hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
				<i class="fa-solid fa-plus pr-2"></i>
				Create new Campaign
			</button>
			<% } %>
		</div>
	</div>
	<% } %>
</div>

<script>
	document.querySelectorAll('.date-cell').forEach((el) => {
		const isoDate = el.getAttribute('data-date');
		console.log(isoDate);
		if (isoDate) {
			const date = new Date(Number(isoDate));
			const formatted = date.toLocaleString('en-GB', {
				day: '2-digit',
				month: 'short',
				year: 'numeric',
				hour: '2-digit',
				minute: '2-digit',
				hour12: true,
			}).replace(',', ' at ');
			el.textContent = formatted;
		}
	});
</script>