<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="UTF-8" />
	<title>Reports - Campaign list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<script src="https://kit.fontawesome.com/44e4e59292.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- <link class="main-stylesheet" href="pages/css/themes/corporate.css" rel="stylesheet" type="text/css" /> -->
	<!-- Please remove the file below for production: Contains demo classes -->
	<!-- <link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" /> -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<!-- Flatpickr CSS CDN -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	
	<!-- Flatpickr JS CDN -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<link href="styles/campaignOverview.css" rel="stylesheet" type="text/css" />
	<link href="styles/style.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<%- include("../commonJS/loader") %>

<body>
	
	<div class="layout-container">
		<%- include("../commonJS/sidebar")  %>
		
		<!-- START PAGE-CONTAINER -->
		<div class="main-content">
			<!-- END HEADER -->
			<div class="logo breadCrumb">
				
				<div class="flex items-center ">
					<!-- START BREADCRUMB -->
					
					<div class="flex items-center">
						<a href="/reports/campaign-list" class=" hover:text-gray-700 hover:no-underline  ">Reports</a>
						<svg class="w-4 h-4 mx-2 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 10 7.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
					
					<a onclick="location.reload()" href="/reports/campaign-list" class="text-red-600 hover:text-gray-700  hover:no-underline ">Campaign Overview</a>
					<div class="relative inline-block pl-2">
						<i class="info-icon text-red-700 hover:text-red-900">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<circle cx="12" cy="12" r="10"></circle>
								<line x1="12" y1="16" x2="12" y2="12"></line>
								<line x1="12" y1="8" x2="12.01" y2="8"></line>
							</svg>
							
						</i>
						<div class="tooltip invisible opacity-0 w-64 bg-gray-900 text-white text-sm rounded-lg absolute z-10 p-4 -translate-x-1/2 left-1/2 mt-2 transition-opacity duration-300">
							<!-- Arrow -->
							<div class="absolute -top-2 left-1/2 -translate-x-1/2 w-4 h-4 bg-gray-900 transform rotate-45"></div>
							<!-- Content -->
							<div class="relative">
								Get in-depth campaign stats (sent, delivered, read, replied, failed) and retarget specific audience segments.
							</div>
						</div>
					</div>
					
				</div>
			</div>

			<div class="flex items-center h-fit px-2 pt-3 w-[98%]">
				<!-- Button for Overview -->
				<button onclick="location.href = `/reports/campaign-list/<%= id %>`" type="button" class="py-1 px-2 bg-black text-white rounded">Overview</button>
				<div class="border h-4 m-2"></div>
				
				<!-- Button for Sent Messages -->
				<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=sent`" type="button" class="p-2">Sent</button>
				<div class="border h-4 m-2"></div>
				
				<!-- Button for Delivered Messages -->
				<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=delivered`" type="button" class="p-2">Delivered</button>
				<div class="border h-4 m-2"></div>
				
				<!-- Button for Read Messages -->
				<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=read`" type="button" class="p-2">Read</button>
				<div class="border h-4 m-2"></div>
				
				<!-- Button for Replies Received -->
				<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=replies`" type="button" class="p-2">Replies received</button>
				<div class="border h-4 m-2"></div>
				
				<!-- Button for Failed Messages -->
				<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=failed`" type="button" class="p-2">Failed</button>
			</div>


			<div class="mainDiv">				
				<div class="w-[97%]">
					<!-- Overview Stats -->
					<div class="stats">
						<div class="stat-box">
							<h3>Total</h3>
							<p><%= totalMessages %></p>
						</div>
						<div class="stat-box">
							<h3>Sent</h3>
							<p><%= messagesSent %> <span><%= percentSent %>% of target</span></p>
						</div>
						<div class="stat-box">
							<h3>Delivered</h3>
							<p><%= messagesDelivered %> <span><%= percentDelivered %>% of target</span></p>
						</div>
						<div class="stat-box">
							<h3>Read</h3>
							<p><%= messagesRead %> <span><%= percentRead %>% of target</span></p>
						</div>
						<div class="stat-box">
							<h3>Replies Received</h3>
							<p><%= messagesReplied %></p>
						</div>
						<div class="stat-box bg-red-200">
							<h3>Failed</h3>
							<p><%= messagesFailed %></p>
						</div>
					</div>
					
					<!-- Current Status Chart -->
					<div class="w-[500px]  border rounded-xl p-3">
						<h2 class="font-semibold text-gray-500">Current Status</h2>
						<canvas id="statusChart"></canvas>
					</div>
					
					<% if (campaigns.length > 0) { %>
					<div class="message-list mt-4">
						<table class="text-center min-w-full border-separate border-spacing-y-4">
							<thead>
								<tr class="text-gray-400">
									<td class="">Send Date</td>
									<td class="">Status</td>
									<td>Name</td>
									<td class="">Contact</td>
									<td class="">Message Sent</td>
								</tr>
							</thead>
							<tbody>
								<% campaigns.forEach(report => { %>
								<tr class="hover:bg-gray-100 cursor-pointer border text-gray-700">
									<td class="border-l border-t border-b rounded-lg py-4 border-gray-200 text-sm ">
										<%= new Date(report.timestamp * 1000 || report.updatedAt).toLocaleDateString() %>
									</td>
									<td class="border-t border-b border-gray-200">
										<div class="inline-flex justify-center items-center h-fit w-fit px-2 py-1 rounded border bg-gray-50"  <% if (report.status.toLowerCase() === 'failed') { %> title="<%= report?.failed?.text %>" <% } %>>
											<%= report.status.charAt(0).toUpperCase() + report.status.slice(1).toLowerCase() %>
										</div>
									</td>
									
									<td class="border-t border-b border-gray-200 ">
										<%= report.contactName %>
									</td>
									<td class="border-t border-b border-gray-200 ">
										<% 
                						const phoneNumber = report.recipientPhone;
                						const maskedPhone = phoneNumber.slice(0, -2).replace(/\d/g, 'X') + phoneNumber.slice(-2);
                					%>
										<%= maskedPhone %>
									</td>
									<td class="border-r border-t border-b rounded-lg border-gray-200 max-w-xs">
										<p class="inline">
											<span id="messageText" class="block overflow-hidden text-ellipsis whitespace-nowrap">
												<%= report?.messageTemplate || report?.textSent || 'No Message Text Available' %>
											</span>
											<% if (report.messageTemplate && report.messageTemplate.length > 100) { %>
											<button id="readMoreBtn" class="text-gray-900 hover:text-gray-900 italic" onclick="toggleReadMore(event)">Read more</button>
											<% } %>
										</p>
									</td>
									
								</tr>
								<% }) %>
							</tbody>
						</table>
						<!-- Pagination -->
						
					</div>
					<% } else { %>
					<div class="flex flex-col items-center justify-center min-h-[400px]  rounded-lg mt-4">
						<div class="text-center">
							<img src="https://img.freepik.com/free-vector/hands-holding-tablet-with-forefinger-clicking-start-button-new-application-launch-flat-illustration_74855-20595.jpg?ga=GA1.1.131490893.1732525963&semt=ais_hybrid" alt="No contacts" class="w-48 h-48 mx-auto mb-4">
							
							<h3 class="text-xl font-semibold text-gray-900 mb-2">No Report available for this status</h3>
							
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	<!-- END PAGE CONTAINER -->
	<script>
		function toggleReadMore (event) {
			// Get the clicked button
			const readMoreBtn = event.target;
			
			// Find the closest parent 'td' element and search for the messageText span within that 'td'
			const messageText = readMoreBtn.closest('td').querySelector('#messageText');
			
			// Toggle the class to show or hide the full text
			messageText.classList.toggle('whitespace-normal');
			messageText.classList.toggle('whitespace-nowrap');
			messageText.classList.toggle('overflow-hidden');
			
			// Change the button text to "Read less" or "Read more"
			if (messageText.classList.contains('whitespace-normal')) {
				readMoreBtn.innerText = 'Read less';
			} else {
				readMoreBtn.innerText = 'Read more';
			}
		}
		
		
		const ctxStatus = document.getElementById('statusChart').getContext('2d');
		const statusChart = new Chart(ctxStatus, {
			type: 'bar',
			data: {
				labels: ['Failed', 'Sent', 'Delivered', 'Read', 'Replies'],
				datasets: [{
					label: 'Message Status',
					data: [<%= messagesFailed %>, <%= messagesSent %>, <%= messagesDelivered %>, <%= messagesRead %>, <%= messagesReplied %>],
					backgroundColor: ['rgba(224, 36, 36, 1)', 'rgba(137, 77, 212, 1)', 'rgba(255, 124, 156, 1)', 'rgba(255, 136, 1, 1)', 'rgba(3, 126, 142, 1)'],
				}]
			},
			options: {
				responsive: true,
				legend: {
					display: false,
				},
				tooltips: {
					enabled: false
				},
				scales: {
					y: {
						beginAtZero: true
					}
				}
			}
		});
		
		function goToPage () {
			const inputPage = document.getElementById('pageInput').value;
			if (inputPage > 0 && inputPage <= <%= totalPages %>) {
				window.location.href = `/reports/campaign-list/<%= id %>?page=${inputPage}`;
			}
		}
	</script>
	<script src="/toast.js"></script>
	<script src="/menu.js"></script>
	
</body>

</html>