<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="UTF-8" />
	<title>Reports - Campaign list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<script src="https://kit.fontawesome.com/44e4e59292.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- <link class="main-stylesheet" href="pages/css/themes/corporate.css" rel="stylesheet" type="text/css" /> -->
	<!-- Please remove the file below for production: Contains demo classes -->
	<!-- <link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" /> -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<!-- Flatpickr CSS CDN -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	
	<!-- Flatpickr JS CDN -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<link href="styles/campaignOverview.css" rel="stylesheet" type="text/css" />
	<link href="styles/style.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link href="styles/permissions.css" rel="stylesheet" type="text/css" />
	
</head>

<body>
	<!-- Loader HTML -->
	<div id="loader" class="loader">
		<div class="w-full h-full flex justify-center items-center">
			<div class="flex flex-col items-center max-w-[10rem]">
				<img src="/assets/img/Wizard_logo.png" alt="Whizard Logo" class="animate-pulse object-contain loading-image mb-2" />
				<div class="w-full h-1 bg-gray-300 rounded-full overflow-hidden">
					<div id="progress-bar" class="h-full bg-black transition-all duration-300 ease-out" style="width: 0%"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Sidebar -->
	<div class="layout-container">
		<nav class="sidebar">
			<div class="logo">
				<img onclick="location.href = '/'" class="cursor-pointer" src="/assets/img/Wizard_logo.png" alt="Whizard Logo" />
			</div>
			<ul class="">
				<!-- Dashboard: Always enabled -->
				<li>
					<a href="/" class="">
						<span class="icon"><svg width="20" height="20" viewBox="0 0 25 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M22.5278 19.5C22.5278 19.6989 22.4488 19.8897 22.3082 20.0303C22.1675 20.171 21.9767 20.25 21.7778 20.25H3.77783C3.57892 20.25 3.38815 20.171 3.2475 20.0303C3.10685 19.8897 3.02783 19.6989 3.02783 19.5V4.5C3.02783 4.30109 3.10685 4.11032 3.2475 3.96967C3.38815 3.82902 3.57892 3.75 3.77783 3.75C3.97674 3.75 4.16751 3.82902 4.30816 3.96967C4.44881 4.11032 4.52783 4.30109 4.52783 4.5V14.6897L9.24721 9.96937C9.31686 9.89964 9.39958 9.84432 9.49063 9.80658C9.58168 9.76884 9.67927 9.74941 9.77783 9.74941C9.87639 9.74941 9.97399 9.76884 10.065 9.80658C10.1561 9.84432 10.2388 9.89964 10.3085 9.96937L12.7778 12.4397L17.7175 7.5H15.7778C15.5789 7.5 15.3882 7.42098 15.2475 7.28033C15.1068 7.13968 15.0278 6.94891 15.0278 6.75C15.0278 6.55109 15.1068 6.36032 15.2475 6.21967C15.3882 6.07902 15.5789 6 15.7778 6H19.5278C19.7267 6 19.9175 6.07902 20.0582 6.21967C20.1988 6.36032 20.2778 6.55109 20.2778 6.75V10.5C20.2778 10.6989 20.1988 10.8897 20.0582 11.0303C19.9175 11.171 19.7267 11.25 19.5278 11.25C19.3289 11.25 19.1382 11.171 18.9975 11.0303C18.8568 10.8897 18.7778 10.6989 18.7778 10.5V8.56031L13.3085 14.0306C13.2388 14.1004 13.1561 14.1557 13.065 14.1934C12.974 14.2312 12.8764 14.2506 12.7778 14.2506C12.6793 14.2506 12.5817 14.2312 12.4906 14.1934C12.3996 14.1557 12.3169 14.1004 12.2472 14.0306L9.77783 11.5603L4.52783 16.8103V18.75H21.7778C21.9767 18.75 22.1675 18.829 22.3082 18.9697C22.4488 19.1103 22.5278 19.3011 22.5278 19.5Z" />
							</svg>
						</span>
						Dashboard
					</a>
				</li>
				
				<!-- Chats: Conditionally rendered based on permissions -->
				<li>
					<% if (access?.chats?.type) { %>
					<a href="/chats" class="">
						<span class="icon"><svg width="20" height="20" viewBox="0 0 22 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M20.5342 15.5087C21.0524 14.4338 21.3067 13.2508 21.2759 12.058C21.2451 10.8651 20.9301 9.6968 20.3571 8.6501C19.7841 7.60341 18.9697 6.70854 17.9814 6.03984C16.9931 5.37113 15.8595 4.94789 14.6748 4.80526C14.2806 3.88873 13.7075 3.06006 12.989 2.36779C12.2706 1.67551 11.4212 1.13353 10.4907 0.773604C9.56018 0.413674 8.56719 0.243022 7.56989 0.271641C6.57259 0.300261 5.59103 0.527576 4.68267 0.940276C3.77432 1.35298 2.95744 1.94277 2.27987 2.67511C1.6023 3.40745 1.07766 4.26762 0.736665 5.20525C0.395673 6.14288 0.245187 7.13912 0.294019 8.13563C0.342851 9.13215 0.590019 10.1089 1.02105 11.0087L0.339487 13.3253C0.263282 13.5839 0.258187 13.8582 0.324737 14.1195C0.391286 14.3808 0.527021 14.6193 0.71766 14.8099C0.9083 15.0005 1.1468 15.1363 1.40806 15.2028C1.66932 15.2694 1.94369 15.2643 2.2023 15.1881L4.51886 14.5065C5.2627 14.8639 6.06019 15.0967 6.87949 15.1956C7.27753 16.1282 7.86056 16.9704 8.59333 17.6713C9.32611 18.3723 10.1934 18.9173 11.1428 19.2735C12.0922 19.6297 13.104 19.7897 14.1169 19.7438C15.1299 19.698 16.1231 19.4471 17.0364 19.0065L19.3529 19.6881C19.6114 19.7642 19.8857 19.7693 20.1468 19.7027C20.408 19.6362 20.6464 19.5006 20.837 19.3101C21.0276 19.1196 21.1634 18.8812 21.23 18.6201C21.2967 18.359 21.2917 18.0848 21.2157 17.8262L20.5342 15.5087ZM4.59011 12.9531C4.51844 12.9532 4.44714 12.9633 4.37824 12.9831L1.77761 13.75L2.54355 11.1475C2.59802 10.9594 2.57683 10.7576 2.48449 10.585C1.80603 9.31612 1.60612 7.84573 1.9212 6.44182C2.23629 5.03792 3.04538 3.79398 4.201 2.93678C5.35661 2.07958 6.78179 1.66619 8.21672 1.77198C9.65166 1.87777 11.0008 2.49569 12.0182 3.5131C13.0356 4.53051 13.6535 5.87965 13.7593 7.31459C13.8651 8.74953 13.4517 10.1747 12.5945 11.3303C11.7373 12.4859 10.4934 13.295 9.08949 13.6101C7.68558 13.9252 6.21519 13.7253 4.94636 13.0468C4.83725 12.9864 4.71481 12.9542 4.59011 12.9531ZM19.0079 15.6465L19.7776 18.25L17.1751 17.484C16.9871 17.4295 16.7852 17.4507 16.6126 17.5431C15.2315 18.2805 13.617 18.4494 12.1132 18.0137C10.6094 17.578 9.33522 16.5721 8.5623 15.2106C9.58922 15.1034 10.5829 14.7852 11.481 14.2758C12.3791 13.7665 13.1623 13.077 13.7814 12.2507C14.4005 11.4244 14.8421 10.4791 15.0786 9.47405C15.3151 8.46901 15.3414 7.42593 15.1557 6.41027C16.0505 6.62117 16.8848 7.03485 17.5943 7.61936C18.3038 8.20388 18.8695 8.9436 19.2477 9.78144C19.626 10.6193 19.8066 11.5328 19.7758 12.4516C19.7449 13.3703 19.5034 14.2697 19.0698 15.0803C18.9765 15.2539 18.9552 15.4573 19.0107 15.6465H19.0079Z" />
							</svg>
							
						</span>
						Chats
					</a>
					<% } else { %>
					<a href="javascript:void(0);" class="cursor-not-allowed">
						<span class="icon"><svg width="20" height="20" viewBox="0 0 22 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M20.5342 15.5087C21.0524 14.4338 21.3067 13.2508 21.2759 12.058C21.2451 10.8651 20.9301 9.6968 20.3571 8.6501C19.7841 7.60341 18.9697 6.70854 17.9814 6.03984C16.9931 5.37113 15.8595 4.94789 14.6748 4.80526C14.2806 3.88873 13.7075 3.06006 12.989 2.36779C12.2706 1.67551 11.4212 1.13353 10.4907 0.773604C9.56018 0.413674 8.56719 0.243022 7.56989 0.271641C6.57259 0.300261 5.59103 0.527576 4.68267 0.940276C3.77432 1.35298 2.95744 1.94277 2.27987 2.67511C1.6023 3.40745 1.07766 4.26762 0.736665 5.20525C0.395673 6.14288 0.245187 7.13912 0.294019 8.13563C0.342851 9.13215 0.590019 10.1089 1.02105 11.0087L0.339487 13.3253C0.263282 13.5839 0.258187 13.8582 0.324737 14.1195C0.391286 14.3808 0.527021 14.6193 0.71766 14.8099C0.9083 15.0005 1.1468 15.1363 1.40806 15.2028C1.66932 15.2694 1.94369 15.2643 2.2023 15.1881L4.51886 14.5065C5.2627 14.8639 6.06019 15.0967 6.87949 15.1956C7.27753 16.1282 7.86056 16.9704 8.59333 17.6713C9.32611 18.3723 10.1934 18.9173 11.1428 19.2735C12.0922 19.6297 13.104 19.7897 14.1169 19.7438C15.1299 19.698 16.1231 19.4471 17.0364 19.0065L19.3529 19.6881C19.6114 19.7642 19.8857 19.7693 20.1468 19.7027C20.408 19.6362 20.6464 19.5006 20.837 19.3101C21.0276 19.1196 21.1634 18.8812 21.23 18.6201C21.2967 18.359 21.2917 18.0848 21.2157 17.8262L20.5342 15.5087ZM4.59011 12.9531C4.51844 12.9532 4.44714 12.9633 4.37824 12.9831L1.77761 13.75L2.54355 11.1475C2.59802 10.9594 2.57683 10.7576 2.48449 10.585C1.80603 9.31612 1.60612 7.84573 1.9212 6.44182C2.23629 5.03792 3.04538 3.79398 4.201 2.93678C5.35661 2.07958 6.78179 1.66619 8.21672 1.77198C9.65166 1.87777 11.0008 2.49569 12.0182 3.5131C13.0356 4.53051 13.6535 5.87965 13.7593 7.31459C13.8651 8.74953 13.4517 10.1747 12.5945 11.3303C11.7373 12.4859 10.4934 13.295 9.08949 13.6101C7.68558 13.9252 6.21519 13.7253 4.94636 13.0468C4.83725 12.9864 4.71481 12.9542 4.59011 12.9531ZM19.0079 15.6465L19.7776 18.25L17.1751 17.484C16.9871 17.4295 16.7852 17.4507 16.6126 17.5431C15.2315 18.2805 13.617 18.4494 12.1132 18.0137C10.6094 17.578 9.33522 16.5721 8.5623 15.2106C9.58922 15.1034 10.5829 14.7852 11.481 14.2758C12.3791 13.7665 13.1623 13.077 13.7814 12.2507C14.4005 11.4244 14.8421 10.4791 15.0786 9.47405C15.3151 8.46901 15.3414 7.42593 15.1557 6.41027C16.0505 6.62117 16.8848 7.03485 17.5943 7.61936C18.3038 8.20388 18.8695 8.9436 19.2477 9.78144C19.626 10.6193 19.8066 11.5328 19.7758 12.4516C19.7449 13.3703 19.5034 14.2697 19.0698 15.0803C18.9765 15.2539 18.9552 15.4573 19.0107 15.6465H19.0079Z" />
							</svg>
						</span>
						Chats
					</a>
					<% } %>
				</li>
				
				<!-- Contact List: Conditionally rendered based on permissions -->
				<li>
					<% if (access.contactList?.type) { %>
					<a href="/contact-list">
						<span class="icon "><svg width="24" height="20" viewBox="0 0 24 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M22.7276 10.1002C22.6488 10.1593 22.5592 10.2023 22.4638 10.2267C22.3684 10.2511 22.2691 10.2566 22.1716 10.2426C22.0741 10.2287 21.9803 10.1957 21.8955 10.1455C21.8108 10.0953 21.7367 10.029 21.6776 9.95017C21.2256 9.34254 20.6372 8.84953 19.9598 8.51084C19.2824 8.17215 18.535 7.99723 17.7776 8.00017C17.6301 8.00015 17.4859 7.95666 17.363 7.87512C17.2402 7.79358 17.144 7.67761 17.0867 7.54173C17.0478 7.44946 17.0277 7.35032 17.0277 7.25017C17.0277 7.15002 17.0478 7.05088 17.0867 6.95861C17.144 6.82272 17.2402 6.70676 17.363 6.62522C17.4859 6.54368 17.6301 6.50018 17.7776 6.50017C18.1984 6.50013 18.6108 6.38208 18.9679 6.15943C19.325 5.93677 19.6125 5.61844 19.7977 5.24058C19.983 4.86273 20.0585 4.4405 20.0158 4.02185C19.9731 3.60321 19.8139 3.20493 19.5562 2.87225C19.2984 2.53958 18.9526 2.28584 18.5579 2.13987C18.1632 1.9939 17.7355 1.96154 17.3233 2.04646C16.9112 2.13139 16.5311 2.3302 16.2263 2.62031C15.9214 2.91043 15.7041 3.28021 15.5989 3.68767C15.5743 3.78308 15.5311 3.87271 15.4718 3.95144C15.4126 4.03017 15.3384 4.09645 15.2535 4.14651C15.1686 4.19656 15.0747 4.22941 14.9771 4.24318C14.8796 4.25694 14.7802 4.25135 14.6848 4.22673C14.5894 4.20211 14.4998 4.15893 14.421 4.09967C14.3423 4.04041 14.276 3.96622 14.226 3.88134C14.1759 3.79646 14.1431 3.70256 14.1293 3.60498C14.1155 3.50741 14.1211 3.40808 14.1458 3.31267C14.2918 2.74765 14.5677 2.22451 14.9514 1.78487C15.3352 1.34523 15.8163 1.00124 16.3564 0.780246C16.8965 0.559256 17.4808 0.467375 18.0627 0.511915C18.6445 0.556454 19.208 0.736184 19.7082 1.0368C20.2084 1.33742 20.6315 1.75063 20.9439 2.24356C21.2563 2.73648 21.4494 3.29552 21.5077 3.87618C21.566 4.45684 21.488 5.0431 21.2799 5.58831C21.0718 6.13352 20.7393 6.62263 20.3089 7.01673C21.3287 7.45829 22.2152 8.15899 22.8804 9.04923C22.9395 9.12822 22.9825 9.2181 23.0068 9.31371C23.0311 9.40932 23.0363 9.50878 23.0221 9.6064C23.0079 9.70403 22.9746 9.79789 22.924 9.88262C22.8735 9.96735 22.8068 10.0413 22.7276 10.1002ZM17.6764 15.8752C17.7306 15.9605 17.7671 16.056 17.7835 16.1558C17.7999 16.2556 17.796 16.3577 17.7719 16.456C17.7478 16.5542 17.7042 16.6466 17.6435 16.7275C17.5828 16.8084 17.5063 16.8762 17.4188 16.9269C17.3312 16.9775 17.2343 17.0099 17.1339 17.0221C17.0335 17.0343 16.9316 17.026 16.8345 16.9978C16.7373 16.9696 16.6469 16.9221 16.5686 16.8581C16.4903 16.794 16.4258 16.7148 16.3789 16.6252C15.9064 15.8252 15.2335 15.1622 14.4267 14.7016C13.6198 14.241 12.7067 13.9988 11.7776 13.9988C10.8485 13.9988 9.9355 14.241 9.1286 14.7016C8.32171 15.1622 7.64883 15.8252 7.17638 16.6252C7.12949 16.7148 7.06496 16.794 6.98666 16.8581C6.90837 16.9221 6.81793 16.9696 6.72078 16.9978C6.62363 17.026 6.52179 17.0343 6.42138 17.0221C6.32096 17.0099 6.22406 16.9775 6.13648 16.9269C6.04891 16.8762 5.97248 16.8084 5.91179 16.7275C5.8511 16.6466 5.80742 16.5542 5.78335 16.456C5.75928 16.3577 5.75534 16.2556 5.77176 16.1558C5.78818 16.056 5.82461 15.9605 5.87888 15.8752C6.606 14.6258 7.71468 13.6427 9.042 13.0702C8.29512 12.4983 7.74622 11.7068 7.47244 10.8069C7.19866 9.90695 7.21378 8.94385 7.51567 8.05295C7.81756 7.16206 8.39104 6.38817 9.15551 5.84005C9.91997 5.29194 10.837 4.99716 11.7776 4.99716C12.7183 4.99716 13.6353 5.29194 14.3998 5.84005C15.1642 6.38817 15.7377 7.16206 16.0396 8.05295C16.3415 8.94385 16.3566 9.90695 16.0828 10.8069C15.809 11.7068 15.2601 12.4983 14.5133 13.0702C15.8406 13.6427 16.9493 14.6258 17.6764 15.8752ZM11.7776 12.5002C12.371 12.5002 12.951 12.3242 13.4443 11.9946C13.9377 11.6649 14.3222 11.1964 14.5493 10.6482C14.7763 10.1 14.8357 9.49684 14.72 8.9149C14.6042 8.33295 14.3185 7.79841 13.8989 7.37885C13.4794 6.95929 12.9448 6.67357 12.3629 6.55781C11.781 6.44206 11.1778 6.50147 10.6296 6.72853C10.0814 6.95559 9.61286 7.34011 9.28322 7.83346C8.95358 8.32681 8.77763 8.90682 8.77763 9.50017C8.77763 10.2958 9.0937 11.0589 9.65631 11.6215C10.2189 12.1841 10.982 12.5002 11.7776 12.5002ZM6.52763 7.25017C6.52763 7.05126 6.44861 6.86049 6.30796 6.71984C6.16731 6.57919 5.97654 6.50017 5.77763 6.50017C5.35681 6.50013 4.94444 6.38208 4.58735 6.15943C4.23026 5.93677 3.94277 5.61844 3.75753 5.24058C3.5723 4.86273 3.49674 4.4405 3.53944 4.02185C3.58214 3.60321 3.74139 3.20493 3.9991 2.87225C4.25682 2.53958 4.60266 2.28584 4.99735 2.13987C5.39203 1.9939 5.81975 1.96154 6.23191 2.04646C6.64407 2.13139 7.02415 2.3302 7.32898 2.62031C7.63381 2.91043 7.85117 3.28021 7.95638 3.68767C8.00611 3.88036 8.13035 4.04541 8.30177 4.14651C8.47319 4.2476 8.67774 4.27646 8.87044 4.22673C9.06314 4.177 9.22819 4.05276 9.32928 3.88134C9.43037 3.70992 9.45923 3.50536 9.4095 3.31267C9.26348 2.74765 8.98761 2.22451 8.60383 1.78487C8.22005 1.34523 7.73896 1.00124 7.19883 0.780246C6.65871 0.559256 6.07447 0.467375 5.49259 0.511915C4.91071 0.556454 4.34725 0.736184 3.84706 1.0368C3.34686 1.33742 2.92373 1.75063 2.61133 2.24356C2.29894 2.73648 2.10589 3.29552 2.04757 3.87618C1.98924 4.45684 2.06724 5.0431 2.27536 5.58831C2.48347 6.13352 2.81597 6.62263 3.24638 7.01673C2.22758 7.45871 1.34205 8.15938 0.677628 9.04923C0.558156 9.20836 0.506792 9.40843 0.534835 9.60543C0.562877 9.80243 0.66803 9.98023 0.827159 10.0997C0.986289 10.2192 1.18636 10.2705 1.38336 10.2425C1.58036 10.2145 1.75816 10.1093 1.87763 9.95017C2.32968 9.34254 2.91808 8.84953 3.59546 8.51084C4.27285 8.17215 5.02029 7.99723 5.77763 8.00017C5.97654 8.00017 6.16731 7.92115 6.30796 7.7805C6.44861 7.63985 6.52763 7.44908 6.52763 7.25017Z" />
							</svg>
						</span>
						Contact List
					</a>
					<% } else { %>
					<a href="javascript:void(0);" class="cursor-not-allowed">
						<span class="icon"><svg width="24" height="20" viewBox="0 0 24 18" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M22.7276 10.1002C22.6488 10.1593 22.5592 10.2023 22.4638 10.2267C22.3684 10.2511 22.2691 10.2566 22.1716 10.2426C22.0741 10.2287 21.9803 10.1957 21.8955 10.1455C21.8108 10.0953 21.7367 10.029 21.6776 9.95017C21.2256 9.34254 20.6372 8.84953 19.9598 8.51084C19.2824 8.17215 18.535 7.99723 17.7776 8.00017C17.6301 8.00015 17.4859 7.95666 17.363 7.87512C17.2402 7.79358 17.144 7.67761 17.0867 7.54173C17.0478 7.44946 17.0277 7.35032 17.0277 7.25017C17.0277 7.15002 17.0478 7.05088 17.0867 6.95861C17.144 6.82272 17.2402 6.70676 17.363 6.62522C17.4859 6.54368 17.6301 6.50018 17.7776 6.50017C18.1984 6.50013 18.6108 6.38208 18.9679 6.15943C19.325 5.93677 19.6125 5.61844 19.7977 5.24058C19.983 4.86273 20.0585 4.4405 20.0158 4.02185C19.9731 3.60321 19.8139 3.20493 19.5562 2.87225C19.2984 2.53958 18.9526 2.28584 18.5579 2.13987C18.1632 1.9939 17.7355 1.96154 17.3233 2.04646C16.9112 2.13139 16.5311 2.3302 16.2263 2.62031C15.9214 2.91043 15.7041 3.28021 15.5989 3.68767C15.5743 3.78308 15.5311 3.87271 15.4718 3.95144C15.4126 4.03017 15.3384 4.09645 15.2535 4.14651C15.1686 4.19656 15.0747 4.22941 14.9771 4.24318C14.8796 4.25694 14.7802 4.25135 14.6848 4.22673C14.5894 4.20211 14.4998 4.15893 14.421 4.09967C14.3423 4.04041 14.276 3.96622 14.226 3.88134C14.1759 3.79646 14.1431 3.70256 14.1293 3.60498C14.1155 3.50741 14.1211 3.40808 14.1458 3.31267C14.2918 2.74765 14.5677 2.22451 14.9514 1.78487C15.3352 1.34523 15.8163 1.00124 16.3564 0.780246C16.8965 0.559256 17.4808 0.467375 18.0627 0.511915C18.6445 0.556454 19.208 0.736184 19.7082 1.0368C20.2084 1.33742 20.6315 1.75063 20.9439 2.24356C21.2563 2.73648 21.4494 3.29552 21.5077 3.87618C21.566 4.45684 21.488 5.0431 21.2799 5.58831C21.0718 6.13352 20.7393 6.62263 20.3089 7.01673C21.3287 7.45829 22.2152 8.15899 22.8804 9.04923C22.9395 9.12822 22.9825 9.2181 23.0068 9.31371C23.0311 9.40932 23.0363 9.50878 23.0221 9.6064C23.0079 9.70403 22.9746 9.79789 22.924 9.88262C22.8735 9.96735 22.8068 10.0413 22.7276 10.1002ZM17.6764 15.8752C17.7306 15.9605 17.7671 16.056 17.7835 16.1558C17.7999 16.2556 17.796 16.3577 17.7719 16.456C17.7478 16.5542 17.7042 16.6466 17.6435 16.7275C17.5828 16.8084 17.5063 16.8762 17.4188 16.9269C17.3312 16.9775 17.2343 17.0099 17.1339 17.0221C17.0335 17.0343 16.9316 17.026 16.8345 16.9978C16.7373 16.9696 16.6469 16.9221 16.5686 16.8581C16.4903 16.794 16.4258 16.7148 16.3789 16.6252C15.9064 15.8252 15.2335 15.1622 14.4267 14.7016C13.6198 14.241 12.7067 13.9988 11.7776 13.9988C10.8485 13.9988 9.9355 14.241 9.1286 14.7016C8.32171 15.1622 7.64883 15.8252 7.17638 16.6252C7.12949 16.7148 7.06496 16.794 6.98666 16.8581C6.90837 16.9221 6.81793 16.9696 6.72078 16.9978C6.62363 17.026 6.52179 17.0343 6.42138 17.0221C6.32096 17.0099 6.22406 16.9775 6.13648 16.9269C6.04891 16.8762 5.97248 16.8084 5.91179 16.7275C5.8511 16.6466 5.80742 16.5542 5.78335 16.456C5.75928 16.3577 5.75534 16.2556 5.77176 16.1558C5.78818 16.056 5.82461 15.9605 5.87888 15.8752C6.606 14.6258 7.71468 13.6427 9.042 13.0702C8.29512 12.4983 7.74622 11.7068 7.47244 10.8069C7.19866 9.90695 7.21378 8.94385 7.51567 8.05295C7.81756 7.16206 8.39104 6.38817 9.15551 5.84005C9.91997 5.29194 10.837 4.99716 11.7776 4.99716C12.7183 4.99716 13.6353 5.29194 14.3998 5.84005C15.1642 6.38817 15.7377 7.16206 16.0396 8.05295C16.3415 8.94385 16.3566 9.90695 16.0828 10.8069C15.809 11.7068 15.2601 12.4983 14.5133 13.0702C15.8406 13.6427 16.9493 14.6258 17.6764 15.8752ZM11.7776 12.5002C12.371 12.5002 12.951 12.3242 13.4443 11.9946C13.9377 11.6649 14.3222 11.1964 14.5493 10.6482C14.7763 10.1 14.8357 9.49684 14.72 8.9149C14.6042 8.33295 14.3185 7.79841 13.8989 7.37885C13.4794 6.95929 12.9448 6.67357 12.3629 6.55781C11.781 6.44206 11.1778 6.50147 10.6296 6.72853C10.0814 6.95559 9.61286 7.34011 9.28322 7.83346C8.95358 8.32681 8.77763 8.90682 8.77763 9.50017C8.77763 10.2958 9.0937 11.0589 9.65631 11.6215C10.2189 12.1841 10.982 12.5002 11.7776 12.5002ZM6.52763 7.25017C6.52763 7.05126 6.44861 6.86049 6.30796 6.71984C6.16731 6.57919 5.97654 6.50017 5.77763 6.50017C5.35681 6.50013 4.94444 6.38208 4.58735 6.15943C4.23026 5.93677 3.94277 5.61844 3.75753 5.24058C3.5723 4.86273 3.49674 4.4405 3.53944 4.02185C3.58214 3.60321 3.74139 3.20493 3.9991 2.87225C4.25682 2.53958 4.60266 2.28584 4.99735 2.13987C5.39203 1.9939 5.81975 1.96154 6.23191 2.04646C6.64407 2.13139 7.02415 2.3302 7.32898 2.62031C7.63381 2.91043 7.85117 3.28021 7.95638 3.68767C8.00611 3.88036 8.13035 4.04541 8.30177 4.14651C8.47319 4.2476 8.67774 4.27646 8.87044 4.22673C9.06314 4.177 9.22819 4.05276 9.32928 3.88134C9.43037 3.70992 9.45923 3.50536 9.4095 3.31267C9.26348 2.74765 8.98761 2.22451 8.60383 1.78487C8.22005 1.34523 7.73896 1.00124 7.19883 0.780246C6.65871 0.559256 6.07447 0.467375 5.49259 0.511915C4.91071 0.556454 4.34725 0.736184 3.84706 1.0368C3.34686 1.33742 2.92373 1.75063 2.61133 2.24356C2.29894 2.73648 2.10589 3.29552 2.04757 3.87618C1.98924 4.45684 2.06724 5.0431 2.27536 5.58831C2.48347 6.13352 2.81597 6.62263 3.24638 7.01673C2.22758 7.45871 1.34205 8.15938 0.677628 9.04923C0.558156 9.20836 0.506792 9.40843 0.534835 9.60543C0.562877 9.80243 0.66803 9.98023 0.827159 10.0997C0.986289 10.2192 1.18636 10.2705 1.38336 10.2425C1.58036 10.2145 1.75816 10.1093 1.87763 9.95017C2.32968 9.34254 2.91808 8.84953 3.59546 8.51084C4.27285 8.17215 5.02029 7.99723 5.77763 8.00017C5.97654 8.00017 6.16731 7.92115 6.30796 7.7805C6.44861 7.63985 6.52763 7.44908 6.52763 7.25017Z" />
							</svg>
						</span>
						Contact List
					</a>
					<% } %>
				</li>
				
				<!-- Template: Conditionally rendered based on permissions -->
				<li>
					<% if (access?.templates?.type) { %>
					<a href="/template">
						<span class="icon"><svg width="20" height="20" viewBox="0 0 20 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.1941 6.37562L10.1941 0.375624C10.0708 0.293395 9.92599 0.249512 9.77783 0.249512C9.62967 0.249512 9.48483 0.293395 9.36158 0.375624L0.361582 6.37562C0.258842 6.44417 0.174621 6.53703 0.116397 6.64595C0.0581744 6.75488 0.027752 6.87649 0.0278322 7V16.75C0.0278322 17.1478 0.185867 17.5294 0.467172 17.8107C0.748477 18.092 1.13001 18.25 1.52783 18.25H18.0278C18.4257 18.25 18.8072 18.092 19.0885 17.8107C19.3698 17.5294 19.5278 17.1478 19.5278 16.75V7C19.5279 6.87649 19.4975 6.75488 19.4393 6.64595C19.381 6.53703 19.2968 6.44417 19.1941 6.37562ZM6.84533 12.25L1.52783 16V8.45594L6.84533 12.25ZM8.38002 13H11.1756L16.4847 16.75H3.07096L8.38002 13ZM12.7103 12.25L18.0278 8.45594V16L12.7103 12.25ZM9.77783 1.90094L17.4569 7.02062L11.1756 11.5H8.3819L2.10064 7.02062L9.77783 1.90094Z" />
							</svg>
						</span>
						Template
					</a>
					<% } else { %>
					<a href="javascript:void(0);" class="cursor-not-allowed">
						<span class="icon"><svg width="20" height="20" viewBox="0 0 20 19" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M19.1941 6.37562L10.1941 0.375624C10.0708 0.293395 9.92599 0.249512 9.77783 0.249512C9.62967 0.249512 9.48483 0.293395 9.36158 0.375624L0.361582 6.37562C0.258842 6.44417 0.174621 6.53703 0.116397 6.64595C0.0581744 6.75488 0.027752 6.87649 0.0278322 7V16.75C0.0278322 17.1478 0.185867 17.5294 0.467172 17.8107C0.748477 18.092 1.13001 18.25 1.52783 18.25H18.0278C18.4257 18.25 18.8072 18.092 19.0885 17.8107C19.3698 17.5294 19.5278 17.1478 19.5278 16.75V7C19.5279 6.87649 19.4975 6.75488 19.4393 6.64595C19.381 6.53703 19.2968 6.44417 19.1941 6.37562ZM6.84533 12.25L1.52783 16V8.45594L6.84533 12.25ZM8.38002 13H11.1756L16.4847 16.75H3.07096L8.38002 13ZM12.7103 12.25L18.0278 8.45594V16L12.7103 12.25ZM9.77783 1.90094L17.4569 7.02062L11.1756 11.5H8.3819L2.10064 7.02062L9.77783 1.90094Z" />
							</svg>
						</span>
						Template
					</a>
					<% } %>
				</li>
				
				<!-- Settings: Conditionally rendered based on permissions -->
				<li>
					<% if (access?.settings?.type) { %>
					<a href="/settings">
						<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" viewBox="0 0 256 256">
								<path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Zm109.94-52.79a8,8,0,0,0-3.89-5.4l-29.83-17-.12-33.62a8,8,0,0,0-2.83-6.08,111.91,111.91,0,0,0-36.72-20.67,8,8,0,0,0-6.46.59L128,41.85,97.88,25a8,8,0,0,0-6.47-.6A112.1,112.1,0,0,0,54.73,45.15a8,8,0,0,0-2.83,6.07l-.15,33.65-29.83,17a8,8,0,0,0-3.89,5.4,106.47,106.47,0,0,0,0,41.56,8,8,0,0,0,3.89,5.4l29.83,17,.12,33.62a8,8,0,0,0,2.83,6.08,111.91,111.91,0,0,0,36.72,20.67,8,8,0,0,0,6.46-.59L128,214.15,158.12,231a7.91,7.91,0,0,0,3.9,1,8.09,8.09,0,0,0,2.57-.42,112.1,112.1,0,0,0,36.68-20.73,8,8,0,0,0,2.83-6.07l.15-33.65,29.83-17a8,8,0,0,0,3.89-5.4A106.47,106.47,0,0,0,237.94,107.21Zm-15,34.91-28.57,16.25a8,8,0,0,0-3,3c-.58,1-1.19,2.06-1.81,3.06a7.94,7.94,0,0,0-1.22,4.21l-.15,32.25a95.89,95.89,0,0,1-25.37,14.3L134,199.13a8,8,0,0,0-3.91-1h-.19c-1.21,0-2.43,0-3.64,0a8.08,8.08,0,0,0-4.1,1l-28.84,16.1A96,96,0,0,1,67.88,201l-.11-32.2a8,8,0,0,0-1.22-4.22c-.62-1-1.23-2-1.8-3.06a8.09,8.09,0,0,0-3-3.06l-28.6-16.29a90.49,90.49,0,0,1,0-28.26L61.67,97.63a8,8,0,0,0,3-3c.58-1,1.19-2.06,1.81-3.06a7.94,7.94,0,0,0,1.22-4.21l.15-32.25a95.89,95.89,0,0,1,25.37-14.3L122,56.87a8,8,0,0,0,4.1,1c1.21,0,2.43,0,3.64,0a8.08,8.08,0,0,0,4.1-1l28.84-16.1A96,96,0,0,1,188.12,55l.11,32.2a8,8,0,0,0,1.22,4.22c.62,1,1.23,2,1.8,3.06a8.09,8.09,0,0,0,3,3.06l28.6,16.29A90.49,90.49,0,0,1,222.9,142.12Z"></path>
							</svg>
						</span>
						Settings
					</a>
					<% } else { %>
					<a href="javascript:void(0);" class="cursor-not-allowed">
						<span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#000000" viewBox="0 0 256 256">
								<path d="M128,80a48,48,0,1,0,48,48A48.05,48.05,0,0,0,128,80Zm0,80a32,32,0,1,1,32-32A32,32,0,0,1,128,160Zm109.94-52.79a8,8,0,0,0-3.89-5.4l-29.83-17-.12-33.62a8,8,0,0,0-2.83-6.08,111.91,111.91,0,0,0-36.72-20.67,8,8,0,0,0-6.46.59L128,41.85,97.88,25a8,8,0,0,0-6.47-.6A112.1,112.1,0,0,0,54.73,45.15a8,8,0,0,0-2.83,6.07l-.15,33.65-29.83,17a8,8,0,0,0-3.89,5.4,106.47,106.47,0,0,0,0,41.56,8,8,0,0,0,3.89,5.4l29.83,17,.12,33.62a8,8,0,0,0,2.83,6.08,111.91,111.91,0,0,0,36.72,20.67,8,8,0,0,0,6.46-.59L128,214.15,158.12,231a7.91,7.91,0,0,0,3.9,1,8.09,8.09,0,0,0,2.57-.42,112.1,112.1,0,0,0,36.68-20.73,8,8,0,0,0,2.83-6.07l.15-33.65,29.83-17a8,8,0,0,0,3.89-5.4A106.47,106.47,0,0,0,237.94,107.21Zm-15,34.91-28.57,16.25a8,8,0,0,0-3,3c-.58,1-1.19,2.06-1.81,3.06a7.94,7.94,0,0,0-1.22,4.21l-.15,32.25a95.89,95.89,0,0,1-25.37,14.3L134,199.13a8,8,0,0,0-3.91-1h-.19c-1.21,0-2.43,0-3.64,0a8.08,8.08,0,0,0-4.1,1l-28.84,16.1A96,96,0,0,1,67.88,201l-.11-32.2a8,8,0,0,0-1.22-4.22c-.62-1-1.23-2-1.8-3.06a8.09,8.09,0,0,0-3-3.06l-28.6-16.29a90.49,90.49,0,0,1,0-28.26L61.67,97.63a8,8,0,0,0,3-3c.58-1,1.19-2.06,1.81-3.06a7.94,7.94,0,0,0,1.22-4.21l.15-32.25a95.89,95.89,0,0,1,25.37-14.3L122,56.87a8,8,0,0,0,4.1,1c1.21,0,2.43,0,3.64,0a8.08,8.08,0,0,0,4.1-1l28.84-16.1A96,96,0,0,1,188.12,55l.11,32.2a8,8,0,0,0,1.22,4.22c.62,1,1.23,2,1.8,3.06a8.09,8.09,0,0,0,3,3.06l28.6,16.29A90.49,90.49,0,0,1,222.9,142.12Z"></path>
							</svg>
						</span>
						Settings
					</a>
					<% } %>
				</li>
				
				<!-- Reports: Conditionally rendered based on permissions -->
				<li>
					<% if (access?.reports?.type) { %>
					<div class="report-menu relative">
						<a href="javascript:void(0);" onclick="getReportsMenu()">
							<span class="icon active"><svg width="18" height="20" viewBox="0 0 18 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.8085 4.21938L13.0585 0.469375C12.9888 0.399749 12.906 0.344539 12.815 0.306898C12.7239 0.269257 12.6264 0.249923 12.5278 0.25H5.02783C4.63001 0.25 4.24848 0.408035 3.96717 0.68934C3.68587 0.970645 3.52783 1.35218 3.52783 1.75V3.25H2.02783C1.63001 3.25 1.24848 3.40804 0.967172 3.68934C0.685867 3.97064 0.527832 4.35218 0.527832 4.75V18.25C0.527832 18.6478 0.685867 19.0294 0.967172 19.3107C1.24848 19.592 1.63001 19.75 2.02783 19.75H12.5278C12.9257 19.75 13.3072 19.592 13.5885 19.3107C13.8698 19.0294 14.0278 18.6478 14.0278 18.25V16.75H15.5278C15.9257 16.75 16.3072 16.592 16.5885 16.3107C16.8698 16.0294 17.0278 15.6478 17.0278 15.25V4.75C17.0279 4.65148 17.0086 4.55391 16.9709 4.46286C16.9333 4.37182 16.8781 4.28908 16.8085 4.21938ZM9.52783 16H5.02783C4.82892 16 4.63815 15.921 4.4975 15.7803C4.35685 15.6397 4.27783 15.4489 4.27783 15.25C4.27783 15.0511 4.35685 14.8603 4.4975 14.7197C4.63815 14.579 4.82892 14.5 5.02783 14.5H9.52783C9.72674 14.5 9.91751 14.579 10.0582 14.7197C10.1988 14.8603 10.2778 15.0511 10.2778 15.25C10.2778 15.4489 10.1988 15.6397 10.0582 15.7803C9.91751 15.921 9.72674 16 9.52783 16ZM9.52783 13H5.02783C4.82892 13 4.63815 12.921 4.4975 12.7803C4.35685 12.6397 4.27783 12.4489 4.27783 12.25C4.27783 12.0511 4.35685 11.8603 4.4975 11.7197C4.63815 11.579 4.82892 11.5 5.02783 11.5H9.52783C9.72674 11.5 9.91751 11.579 10.0582 11.7197C10.1988 11.8603 10.2778 12.0511 10.2778 12.25C10.2778 12.4489 10.1988 12.6397 10.0582 12.7803C9.91751 12.921 9.72674 13 9.52783 13ZM15.5278 15.25H14.0278V7.75C14.0279 7.65148 14.0086 7.55391 13.9709 7.46286C13.9333 7.37182 13.8781 7.28908 13.8085 7.21937L10.0585 3.46938C9.98875 3.39975 9.90602 3.34454 9.81497 3.3069C9.72392 3.26926 9.62635 3.24992 9.52783 3.25H5.02783V1.75H12.2175L15.5278 5.06031V15.25Z" />
								</svg>
							</span>
							Reports
							
						</a>
						<div id="reportMenu" class="report-card hidden">
							<a href="/reports/campaign-list" class="flex flex-row items-center"><img src="conversationReport.svg" class="pr-2" />Campaign Report</a>
							<a href="/reports/cost-report" class="flex flex-row items-center"><img src="costReport.svg" class="pr-2" />Cost Report</a>
						</div>
					</div>
					<% } else { %>
					<a href="javascript:void(0);" class="cursor-not-allowed">
						<span class="icon"><svg width="18" height="20" viewBox="0 0 18 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.8085 4.21938L13.0585 0.469375C12.9888 0.399749 12.906 0.344539 12.815 0.306898C12.7239 0.269257 12.6264 0.249923 12.5278 0.25H5.02783C4.63001 0.25 4.24848 0.408035 3.96717 0.68934C3.68587 0.970645 3.52783 1.35218 3.52783 1.75V3.25H2.02783C1.63001 3.25 1.24848 3.40804 0.967172 3.68934C0.685867 3.97064 0.527832 4.35218 0.527832 4.75V18.25C0.527832 18.6478 0.685867 19.0294 0.967172 19.3107C1.24848 19.592 1.63001 19.75 2.02783 19.75H12.5278C12.9257 19.75 13.3072 19.592 13.5885 19.3107C13.8698 19.0294 14.0278 18.6478 14.0278 18.25V16.75H15.5278C15.9257 16.75 16.3072 16.592 16.5885 16.3107C16.8698 16.0294 17.0278 15.6478 17.0278 15.25V4.75C17.0279 4.65148 17.0086 4.55391 16.9709 4.46286C16.9333 4.37182 16.8781 4.28908 16.8085 4.21938ZM9.52783 16H5.02783C4.82892 16 4.63815 15.921 4.4975 15.7803C4.35685 15.6397 4.27783 15.4489 4.27783 15.25C4.27783 15.0511 4.35685 14.8603 4.4975 14.7197C4.63815 14.579 4.82892 14.5 5.02783 14.5H9.52783C9.72674 14.5 9.91751 14.579 10.0582 14.7197C10.1988 14.8603 10.2778 15.0511 10.2778 15.25C10.2778 15.4489 10.1988 15.6397 10.0582 15.7803C9.91751 15.921 9.72674 16 9.52783 16ZM9.52783 13H5.02783C4.82892 13 4.63815 12.921 4.4975 12.7803C4.35685 12.6397 4.27783 12.4489 4.27783 12.25C4.27783 12.0511 4.35685 11.8603 4.4975 11.7197C4.63815 11.579 4.82892 11.5 5.02783 11.5H9.52783C9.72674 11.5 9.91751 11.579 10.0582 11.7197C10.1988 11.8603 10.2778 12.0511 10.2778 12.25C10.2778 12.4489 10.1988 12.6397 10.0582 12.7803C9.91751 12.921 9.72674 13 9.52783 13ZM15.5278 15.25H14.0278V7.75C14.0279 7.65148 14.0086 7.55391 13.9709 7.46286C13.9333 7.37182 13.8781 7.28908 13.8085 7.21937L10.0585 3.46938C9.98875 3.39975 9.90602 3.34454 9.81497 3.3069C9.72392 3.26926 9.62635 3.24992 9.52783 3.25H5.02783V1.75H12.2175L15.5278 5.06031V15.25Z" />
							</svg>
						</span>
						Reports
					</a>
					<% } %>
				</li>
			</ul>
			<div class=" user-profile text-white flex justify-center items-center text-center">
				<% if (photo) { %>
				<img src="/<%= photo %>" alt="User Profile" class="user-profile-img" onclick="toggleDropdown()" />
				<% } else { %>
				<!-- Extract and display the initials -->
				<div class="user-profile-name bg-[<%= color %>]" onclick="toggleDropdown()">
					<% let initials = name.split(' ').map(n => n[0].toUpperCase()).join(''); %>
					<%= initials %>
				</div>
				<% } %>
				<div id="downMenu" class="account-menu hidden">
					<a href="/settings/profile" class="flex items-center"><img src="profileLogo.svg" class="pr-2" />View profile</a>
					<button onclick="logout()" class="flex items-center"><img src="logOut.svg" class="pr-2" />Log out</button>
				</div>

			</div>
			
		</nav>
		
		<!-- START PAGE-CONTAINER -->
		<div class="main-content">
			<!-- END HEADER -->
			<div class="logo breadCrumb">
				
				<div class="flex items-center ">
					<!-- START BREADCRUMB -->
					
					<div class="flex items-center">
						<a href="/reports/campaign-list" class="text-gray-500 hover:text-gray-700 hover:no-underline text-xl font-medium">Reports</a>
						<svg class="w-4 h-4 mx-2 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 10 7.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
					
					<a onclick="location.reload()" href="/reports/campaign-list" class="text-red-600 hover:text-gray-700 text-xl hover:no-underline font-medium">Campaign Overview</a>
					<div class="relative inline-block pl-2">
						<i class="info-icon text-red-700 hover:text-red-900">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<circle cx="12" cy="12" r="10"></circle>
								<line x1="12" y1="16" x2="12" y2="12"></line>
								<line x1="12" y1="8" x2="12.01" y2="8"></line>
							</svg>
							
						</i>
						<div class="tooltip invisible opacity-0 w-64 bg-gray-900 text-white text-sm rounded-lg absolute z-10 p-4 -translate-x-1/2 left-1/2 mt-2 transition-opacity duration-300">
							<!-- Arrow -->
							<div class="absolute -top-2 left-1/2 -translate-x-1/2 w-4 h-4 bg-gray-900 transform rotate-45"></div>
							<!-- Content -->
							<div class="relative">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="mainDiv">
				<div class="flex items-center h-fit px-2">
					<!-- Button for Overview -->
					<button onclick="location.href = `/reports/campaign-list/<%= id %>`" type="button" class="p-2">Overview</button>
					<div class="border h-4 m-2"></div>
					
					<!-- Button for Sent Messages -->
					<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=sent`" type="button" class="p-2">Sent</button>
					<div class="border h-4 m-2"></div>
					
					<!-- Button for Delivered Messages -->
					<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=delivered`" type="button" class="p-2">Delivered</button>
					<div class="border h-4 m-2"></div>
					
					<!-- Button for Read Messages -->
					<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=read`" type="button" class="p-2">Read</button>
					<div class="border h-4 m-2"></div>
					
					<!-- Button for Replies Received -->
					<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=replies`" type="button" class="py-1 px-2 bg-black text-white rounded">Replies received</button>
					<div class="border h-4 m-2"></div>
					
					<!-- Button for Failed Messages -->
					<button onclick="location.href = `/reports/campaign-list/<%= id %>?filter=failed`" type="button" class="p-2">Failed</button>
				</div>
				
			</div>
			<div class="mt-3 flex justify-between items-center w-[97%]"><span class="font-semibold text-xl">Message Replies <%= totalCount  %></span>
				<span class="flex space-x-5">
					<button id="exportCSV" class="rounded border border-gray-500 flex items-center p-2 space-x-2" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="#000000" viewBox="0 0 256 256">
							<path d="M240,136v64a16,16,0,0,1-16,16H32a16,16,0,0,1-16-16V136a16,16,0,0,1,16-16H80a8,8,0,0,1,0,16H32v64H224V136H176a8,8,0,0,1,0-16h48A16,16,0,0,1,240,136ZM85.66,77.66,120,43.31V128a8,8,0,0,0,16,0V43.31l34.34,34.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,77.66ZM200,168a12,12,0,1,0-12,12A12,12,0,0,0,200,168Z"></path>
						</svg><span> Export CSV</span>
					</button>
					<button id="broadcast" class="rounded flex items-center p-2 space-x-2 bg-gray-300 hover:bg-gray-200 hover:cursor-not-allowed text-white" type="button"><svg width="17" height="17" viewBox="0 0 17 17" fill="white" xmlns="http://www.w3.org/2000/svg">
							<path d="M15.9834 1.01675C15.8419 0.875373 15.6653 0.774266 15.4718 0.723842C15.2782 0.673418 15.0748 0.6755 14.8823 0.729874H14.8717L1.37596 4.82487C1.15686 4.88802 0.962123 5.01625 0.81755 5.19257C0.672976 5.36889 0.585394 5.58498 0.566408 5.8122C0.547422 6.03942 0.597928 6.26705 0.711235 6.46492C0.824542 6.66279 0.9953 6.82156 1.20088 6.92019L7.17182 9.82831L10.0757 15.7957C10.166 15.9885 10.3096 16.1513 10.4896 16.2651C10.6695 16.3789 10.8782 16.4387 11.091 16.4377C11.1234 16.4377 11.1557 16.4363 11.1881 16.4335C11.4151 16.4151 11.6311 16.3277 11.807 16.183C11.983 16.0384 12.1105 15.8434 12.1724 15.6242L16.2646 2.12839C16.2646 2.12487 16.2646 2.12136 16.2646 2.11784C16.3197 1.92586 16.3227 1.72268 16.2733 1.52917C16.2238 1.33566 16.1238 1.1588 15.9834 1.01675ZM11.0974 15.3021L11.0938 15.312V15.3071L8.27713 9.52034L11.6521 6.14534C11.7532 6.039 11.8087 5.89739 11.8068 5.75071C11.8049 5.60403 11.7458 5.46389 11.6421 5.36016C11.5384 5.25644 11.3982 5.19733 11.2515 5.19546C11.1049 5.19358 10.9632 5.24907 10.8569 5.35011L7.4819 8.72511L1.69307 5.90839H1.68815H1.69799L15.1874 1.81269L11.0974 15.3021Z" />
						</svg><span> Broadcast</span>
					</button>
				</span>
			</div>
			<div class="container">
				<% if (campaigns.length > 0) { %>
				<div class="message-list">
					<table class="text-center min-w-full border-separate border-spacing-y-4">
						<thead>
							<tr class="text-gray-400">
								<td class="py-4"><input type="checkbox" class="checkbox" /></td>
								<td>Name</td>
								<td class="py-4">Contact</td>
								<td class="py-4">Delivered At</td>
								<td class="py-4">Send At</td>
								<td class="py-4">Status</td>
								<td class="py-4">Message Sent</td>
							</tr>
						</thead>
						<tbody>
							<% campaigns.forEach(report => { %>
							<tr class="hover:bg-gray-100 cursor-pointer border text-gray-700">
								<td class="border-l border-t border-b rounded-lg py-4 border-gray-200 text-sm">
									<input type="checkbox" class="checkbox" />
								</td>
								<td class="border-t border-b border-gray-200">
									<%= report.contactName %>
								</td>
								<td class="border-t border-b border-gray-200" aria-label="<%= report.recipientPhone %>">
									<% 
                						const phoneNumber = report.recipientPhone;
                						const maskedPhone = phoneNumber.slice(0, -2).replace(/\d/g, 'X') + phoneNumber.slice(-2);
                					%>
									<%= maskedPhone %>
								</td>
								<td class="border-t border-b border-gray-200">
									<%= new Date(report.timestamp * 1000 || report.updatedAt).toLocaleDateString() %>
								</td>
								<td class="border-t border-b border-gray-200">
									<%= new Date(report.timestamp * 1000 || report.createdAt).toLocaleDateString() %>
								</td>
								<td class="border-t border-b border-gray-200">
									<%= report.status.charAt(0).toUpperCase() + report.status.slice(1).toLowerCase() %>
								</td>
								<td class="border-r border-t border-b rounded-lg border-gray-200 max-w-xs px-5">
									<p class="inline">
										<span id="messageText" class="block overflow-hidden text-ellipsis whitespace-nowrap">
											<%= report.messageTemplate || 'No Message Text Available' %>
										</span>
										<% if (report.messageTemplate && report.messageTemplate.length > 100) { %>
										<button id="readMoreBtn" class="text-gray-900 hover:text-gray-900 italic" onclick="toggleReadMore(event)">Read more</button>
										<% } %>
									</p>
								</td>
							</tr>
							<% }) %>
						</tbody>
						<script>
							const contact = <%- JSON.stringify(contact) %>;
						</script>
					</table>
				</div>
				<% } else { %>
				<div class="flex flex-col items-center justify-center min-h-[400px]  rounded-lg mt-4">
					<div class="text-center">
						<img src="https://img.freepik.com/free-vector/hands-holding-tablet-with-forefinger-clicking-start-button-new-application-launch-flat-illustration_74855-20595.jpg?ga=GA1.1.131490893.1732525963&semt=ais_hybrid" alt="No contacts" class="w-48 h-48 mx-auto mb-4">
						
						<h3 class="text-xl font-semibold text-gray-900 mb-2">No Report available for this status</h3>
						
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
	
	<script src="/reports/js/campaignSentBroadcast.js"></script>
	<script src="/menu.js"></script>
	<script>
		window.addEventListener('load', function () {
			// Fade out the loader smoothly by changing the opacity
			var loader = document.getElementById('loader');
			loader.style.transition = 'opacity 0.3s ease'; // Smooth fade out
			loader.style.opacity = '0';
			
			// Completely remove the loader after the fade-out effect is finished
			setTimeout(function () {
				loader.style.display = 'none'; // Ensure loader is no longer in the DOM flow
			}, 300); // Match the duration of the fade-out (0.5 seconds in this case)
		});
	</script>
</body>

</html>