<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="UTF-8" />
	<title>Reports - Campaign list</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<script src="https://kit.fontawesome.com/44e4e59292.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- <link class="main-stylesheet" href="pages/css/themes/corporate.css" rel="stylesheet" type="text/css" /> -->
	<!-- Please remove the file below for production: Contains demo classes -->
	<!-- <link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" /> -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<!-- Flatpickr CSS CDN -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	
	<!-- Flatpickr JS CDN -->
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	
	<link href="styles/style.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
	
	<!-- <link href="styles/createList.css" rel="stylesheet" type="text/css" /> -->
	<style>
		/* Sidebar transition */
		#filterSidebar {
			transition: right 0.3s ease;
		}
		
		/* Overlay for background darkening */
		#overlay {
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 40;
		}
		
		/* Make the transition smooth when the sidebar slides in */
		.hidden {
			display: none;
		}
		
		button:focus {
			outline: none;
		}
		
		#loadingSpinner {
			background-color: rgba(255, 255, 255, 0.75);
			/* Optional: adds a light background over the table */
			z-index: 10;
		}
	</style>
	
</head>

<body>
	<!-- Loader HTML -->
	<div id="loader" class="loader">
		<div class="w-full h-full flex justify-center items-center">
			<img src="/assets/img/Wizard_logo.png" alt="Whizard Logo" class="animate-pulse loading-image" />
		</div>
	</div>
	
	<!-- Sidebar -->
	<div class="layout-container">
		<nav class="sidebar">
			<div class="logo">
				<img onclick="location.href = '/'" class="cursor-pointer" src="/assets/img/Wizard_logo.png" alt="Whizard Logo" />
			</div>
			<ul class="">
				<!-- Dashboard: Always enabled -->
				<li>
					<a href="/" class="">
						<span class="icon"><i class="fas fa-chart-line"></i></span>
						Dashboard
					</a>
				</li>
				
				<!-- Chats: Conditionally rendered based on permissions -->
				<li>
					<% if (access?.chats?.type) { %>
					<a href="/chats" class="">
						<span class="icon"><i class="fa-regular fa-comment"></i></span>
						Chats
					</a>
					<% } else { %>
					<a href="javascript:void(0);" title="You don't have permissions to access this" class="cursor-not-allowed">
						<span class="icon"><i class="fa-regular fa-comment"></i></span>
						Chats
					</a>
					<% } %>
				</li>
				
				<!-- Contact List: Conditionally rendered based on permissions -->
				<li>
					<% if (access?.contactList?.type) { %>
					<a href="/contact-list">
						<span class="icon "><i class="fa-regular fa-address-book"></i></span>
						Contact List
					</a>
					<% } else { %>
					<a href="javascript:void(0);" title="You don't have permissions to access this" class="cursor-not-allowed">
						<span class="icon"><i class="fa-regular fa-address-book"></i></span>
						Contact List
					</a>
					<% } %>
				</li>
				
				<!-- Template: Conditionally rendered based on permissions -->
				<li>
					<% if (access?.templates?.type) { %>
					<a href="/template">
						<span class="icon"><i class="fa-regular fa-envelope"></i></span>
						Template
					</a>
					<% } else { %>
					<a href="javascript:void(0);" title="You don't have permissions to access this" class="cursor-not-allowed">
						<span class="icon"><i class="fa-regular fa-envelope"></i></span>
						Template
					</a>
					<% } %>
				</li>
				
				<!-- Settings: Conditionally rendered based on permissions -->
				<li>
					<% if (access?.settings?.type) { %>
					<a href="/settings">
						<span class="icon "><i class="fa-regular fa-user"></i></span>
						Settings
					</a>
					<% } else { %>
					<a href="javascript:void(0);" title="You don't have permissions to access this" class="cursor-not-allowed">
						<span class="icon"><i class="fa-regular fa-user"></i></span>
						Settings
					</a>
					<% } %>
				</li>
				
				<!-- Reports: Conditionally rendered based on permissions -->
				<li>
					<% if (access?.reports?.type) { %>
					<a href="/reports/campaign-list">
						<span class="icon active"><i class="fa-regular fa-chart-bar"></i></span>
						Reports
					</a>
					<% } else { %>
					<a href="javascript:void(0);" title="You don't have permissions to access this" class="cursor-not-allowed">
						<span class="icon"><i class="fa-regular fa-chart-bar"></i></span>
						Reports
					</a>
					<% } %>
				</li>
			</ul>
			<div class=" user-profile text-white flex justify-center items-center text-center">
				<% if (photo) { %>
				<img src="/<%= photo %>" alt="User Profile" class="user-profile-img" onclick="toggleDropdown()" />
				<% } else { %>
				<!-- Extract and display the initials -->
				<div class="user-profile-name bg-[<%= color %>]" onclick="toggleDropdown()">
					<% let initials = name.split(' ').map(n => n[0].toUpperCase()).join(''); %>
					<%= initials %>
				</div>
				<% } %>
				<div id="dropdownMenu" class="account-menu hidden">
					<a href="/settings/profile">Profile</a>
					<button onclick="logout()">Logout</button>
				</div>
			</div>
			<script>
				function toggleDropdown () {
					const dropdownMenu = document.getElementById('dropdownMenu');
					dropdownMenu.classList.toggle('hidden');
					
					const sidebar = document.querySelector('.sidebar');
					
					if (dropdownMenu.classList.contains('hidden')) {
						sidebar.style.overflow = 'auto';
					} else {
						sidebar.style.overflow = 'visible';
					}
				}
				
				async function logout () {
					try {
						const response = await fetch('/api/users/logout', {
							method: 'POST',
							credentials: 'same-origin'
						});
						
						if (response.ok) {
							window.location.href = '/login';
						} else {
							alert('Error logging out.');
						}
					} catch (err) {
						console.error('Error:', err);
						alert('Error logging out.');
					}
				}
				
				// Close the dropdown if clicked outside
				window.onclick = function (event) {
					const dropdown = document.getElementById("dropdownMenu");
					const sidebar = document.querySelector('.sidebar');
					if (!event.target.closest('.user-profile')) {
						dropdown.classList.add("hidden");
						sidebar.style.overflow = 'auto';
					}
				};
			</script>
		</nav>
		
		<!-- START PAGE-CONTAINER -->
		<div class="main-content">
			<!-- END HEADER -->
			<div class="logo breadCrumb ">
				<div class="flex items-center">
					<!-- START BREADCRUMB -->
					
					<div class="flex items-center">
						<a href="/reports" class="text-gray-500 hover:text-gray-700 hover:no-underline text-xl font-medium">Reports</a>
						<svg class="w-4 h-4 mx-2 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 10 7.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
					
					<a href="/reports/campaign-list" class="text-red-600 hover:text-gray-700 text-xl hover:no-underline font-medium">Campaign List</a>
					<!-- END BREADCRUMB -->
				</div>
			</div>
			
			<!-- START card -->
			<div class="mainDiv">
				<div class="flex justify-between items-center px-2">
					<div class="">
						<h6 class="p-3 text-2xl">Campaign List</h6>
					</div>
					
					<div class="flex items-center justify-evenly">
						<div class="border flex rounded-lg items-center py-2 px-2 w-72 mr-3">
							<svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960" width="24px" fill="gray">
								<path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
							</svg>
							<input type="search" id="searchInput" placeholder="Search by campaign name" class="outline-none focus:outline-none w-full" />
						</div>
						
						<div class="text-center pr-3">
							<button aria-label="Filters" onclick="openFilterModal()" type="button" class="border py-2 px-4 rounded-lg transition-colors ease-in-out duration-300 hover:bg-gray-100 text-sm font-semibold flex items-center">
								<span class="icon pr-1">
									<i class="fa-solid fa-filter"></i>
								</span>
								Filters
							</button>
						</div>
						<%- include("partials/campaignFilter") %>
						
					</div>
				</div>
				
				<!-- Contact list table -->
				<div class="flex justify-center w-full pt-2">
					<div id="campaignTable" class="w-[95%] ">
						<%- include('partials/campaignTable') %>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- END PAGE CONTAINER -->
	
	
	<!-- BEGIN VENDOR JS -->
	<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
	<!--  A polyfill for browsers that don't support ligatures: remove liga.js if not needed-->
	<script src="assets/plugins/liga.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
	<script src="assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
	<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
	<script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
	
	<script src="pages/js/pages.js"></script>
	
	<script src="assets/js/scripts.js" type="text/javascript"></script>
	
	<script src="assets/js/card.js" type="text/javascript"></script>
	<script src="assets/js/scripts.js" type="text/javascript"></script>
	<script src="/reports/js/campaignFilter.js"></script>
	<script>
		window.addEventListener('load', function () {
			// Fade out the loader smoothly by changing the opacity
			var loader = document.getElementById('loader');
			loader.style.transition = 'opacity 0.3s ease'; // Smooth fade out
			loader.style.opacity = '0';
			
			// Completely remove the loader after the fade-out effect is finished
			setTimeout(function () {
				loader.style.display = 'none'; // Ensure loader is no longer in the DOM flow
			}, 300); // Match the duration of the fade-out (0.5 seconds in this case)
		});
	</script>
	<!-- END PAGE LEVEL JS -->
</body>

</html>