<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="utf-8" />
	<title>Payment - Whizard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
	<link rel="apple-touch-icon" href="pages/ico/60.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-touch-fullscreen" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta content="Meet pages - The simplest and fastest way to build web UI for your dashboard or app." name="description" />
	<meta content="Ace" name="author" />
	<link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
	<link href="styles/style.css" rel="stylesheet" type="text/css" />
	<link href="styles/payments.css" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>
	<% if (paymentMode === "razorpay") { %>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<% } else { %>
	<script src="https://js.stripe.com/basil/stripe.js"></script>
	<% } %>
	
	<style>
		.loading-spinner {
			border: 3px solid rgba(0, 0, 0, 0.1);
			border-left-color: #fff;
			border-radius: 100%;
			width: 16px;
			height: 16px;
			animation: spin 1s linear infinite;
		}
		
		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			
			100% {
				transform: rotate(360deg);
			}
		}
		
		input[type="range"]::-webkit-slider-thumb {
			appearance: none;
			height: 16px;
			width: 16px;
			background-color: #ef4444;
			border-radius: 9999px;
			cursor: pointer;
			margin-top: -7px;
			box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
		}
		
		input[type="range"]::-moz-range-thumb {
			height: 16px;
			width: 16px;
			background-color: #ef4444;
			border: none;
			border-radius: 9999px;
			cursor: pointer;
			box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
		}
	</style>
</head>

<body>
	<%- include("../commonJS/loader") %>
	<div class="layout-container">
		<%- include("../commonJS/sidebar")  %>
		
		<div class="main-content">
			<div class="logo breadCrumb">
				
				<!-- START BREADCRUMB -->
				<nav class="flex" aria-label="Breadcrumb">
					
					<div class="flex items-center">
						<a href="/settings" class="text-gray-500 hover:text-gray-700 ">Settings</a>
						<svg class="w-4 h-4 mx-2 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 10 7.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
					
					<div class="flex items-center">
						<a href="/settings/payments" class="text-red-500 hover:text-gray-700">Payment</a>
						<div class="relative inline-block pl-2">
							<i class="info-icon text-red-700 hover:text-red-900">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
									<circle cx="12" cy="12" r="10"></circle>
									<line x1="12" y1="16" x2="12" y2="12"></line>
									<line x1="12" y1="8" x2="12.01" y2="8"></line>
								</svg>
								
							</i>
							<div class="tooltip invisible opacity-0 w-64 bg-gray-900 text-white text-sm rounded-lg absolute z-10 p-4 -translate-x-1/2 left-1/2 mt-2 transition-opacity duration-300">
								<!-- Arrow -->
								<div class="absolute -top-2 left-1/2 -translate-x-1/2 w-4 h-4 bg-gray-900 transform rotate-45"></div>
								<!-- Content -->
								<div class="relative">
									Payment section where you add messages and check payment history
								</div>
							</div>
						</div>
					</div>
					
				</nav>
				<!-- END BREADCRUMB -->
				
			</div>
			
			
			<div id="messages-meter" class="w-[90%] <%= paymentTableData?.length > 0 ? '' : 'hidden' %>">
				<div class="w-full my-5">
					<div class="flex justify-between items-center">
						<div class="mb-4">
							<h2 class="text-lg font-semibold text-gray-800">Messages Meter</h2>
							<p class="text-sm text-gray-600">
								Messages are calculated as total messages sent vs total messages plan bought.
							</p>
						</div>
					</div>
					<div class="relative w-full">
						<!-- Slider track -->
						<div class="absolute left-0 right-0 top-2 transform -translate-y-1/2 h-2 bg-gray-200 rounded-full"></div>
						
						<!-- Tooltip showing messagesCount -->
						<div class="absolute z-10 top-8 transform -translate-x-1/2 bg-red-500 text-white text-xs px-3 py-1 rounded-full shadow" style="left: <%= (user?.payment?.messagesCount / user?.payment?.totalMessages) * 100 %>%">
							<div class="absolute -top-[5.6px] left-1/2 -translate-x-1/2 w-0 h-0 border-l-transparent border-r-transparent border-b-red-500" style="border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #ef4444;"></div>
							<%= user?.payment?.messagesCount %>
						</div>
						
						<!-- Input range styled -->
						<input type="range" min="<%= user?.payment?.previousMessagesCount %>" max="<%= user?.payment?.totalMessages %>" value="<%= user?.payment?.messagesCount %>" disabled class="w-full h-2 bg-transparent appearance-none" style="position: relative; z-index: 10;" />
						
						<!-- Start and End Labels -->
						<div class="flex justify-between text-xs text-gray-500 mt-2">
							<span><%= user?.payment?.previousMessagesCount %></span>
							<span><%= user?.payment?.totalMessages %></span>
						</div>
					</div>
				</div>
				<div class="w-full space-x-3 py-4 flex items-center">
					<button type="button" class="text-white bg-black rounded py-1 px-3 h-10 w-36" id="open-plan-btn">Buy Plan</button>
					<button type="button" class="border rounded h-10 w-36 px-3 py-1 flex items-center justify-center" id="open-credits-btn">
						Buy Credits
					</button>
				</div>
				
				<%- include("payment/paymentTable") %>
			</div>
			<div id="payment-plan-ui" class="<%= paymentTableData?.length > 0 ? 'hidden' : '' %> w-full">
				<%- include("payment/paymentPlan") %>
			</div>
			<div id="payment-credits-ui" class="hidden w-full">
				<%- include("payment/paymentCredits") %>
			</div>
		</div>
	</div>
	<script>
		const currencyTag = <%- JSON.stringify(user?.currency || "")  %>;
		const host = location.hostname;
		let url;
		if (host === "localhost") {
			url = "http://localhost:5000";
		} else {
			url = `https://${host}`;
		}
		
		const openCreditsBtn = document.getElementById("open-credits-btn");
		const openPlanBtn = document.getElementById("open-plan-btn");
		const meterSection = document.getElementById("messages-meter");
		const paymentPlanUI = document.getElementById("payment-plan-ui");
		const paymentCreditsUI = document.getElementById("payment-credits-ui");
		
		document.addEventListener("DOMContentLoaded", () => {
			openPlanBtn?.addEventListener("click", () => {
				meterSection.classList.add("hidden");
				paymentPlanUI.classList.remove("hidden");
			});
			
			openCreditsBtn?.addEventListener("click", () => {
				meterSection.classList.add("hidden");
				paymentCreditsUI.classList.remove("hidden");
			});
		});
	</script>
	
	<% if (paymentMode === "razorpay") { %>
	<script>
		const name = <%- JSON.stringify(user.name) %>;
		const email = <%- JSON.stringify(user.email) %>;
		const contact = <%- JSON.stringify(user.phone) %>;
		const key = <%- JSON.stringify(clientKeyRazorpay) %>;
	</script>
	<script src="/payment/js/razorpay.js"></script>
	<!-- <script>
		document.addEventListener("DOMContentLoaded", () => {
			restoreBtn?.addEventListener("click", () => {
				try {
					setTimeout(() => {
						restoreBtn.querySelector(".loader-text").classList.add("hidden");
						restoreBtn.querySelector(".loading-spinner").classList.remove("hidden");
						document.getElementById("btn")?.click();
					}, 0);
				} catch (err) {
					console.error("Error getting payment:", err);
				} finally {
					setTimeout(() => {
						restoreBtn.querySelector(".loader-text").classList.remove("hidden");
						restoreBtn.querySelector(".loading-spinner").classList.add("hidden");
					}, 500);
				}
			});
		})
	</script> -->
	<% } else { %>
	<script>
		const key = <%- JSON.stringify(clientKeyStripe) %>;
	</script>
	<script src="/payment/js/stripe.js"></script>
	<!-- <script>
		restoreBtn?.addEventListener("click", () => {
			try {
				setTimeout(() => {
					restoreBtn.querySelector(".loader-text").classList.add("hidden");
					restoreBtn.querySelector(".loading-spinner").classList.remove("hidden");
					document.getElementById("btn")?.click();
				}, 0);
				setTimeout(() => {
					meterSection.classList.add("hidden");
					paymentPlanUI.classList.remove("hidden");
				}, 500)
			} catch (err) {
				console.error("Error getting payment:", err);
			} finally {
				setTimeout(() => {
					restoreBtn.querySelector(".loader-text").classList.remove("hidden");
					restoreBtn.querySelector(".loading-spinner").classList.add("hidden");
				}, 500);
			}
		});
	</script> -->
	<% } %>
	
	<script src="/toast.js"></script>
	<script src="/menu.js"></script>
	
</body>

</html>