<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Responsive Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- <link class="main-stylesheet" href="pages/css/themes/corporate.css" rel="stylesheet" type="text/css" /> -->
	<!-- Please remove the file below for production: Contains demo classes -->
	<!-- <link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" /> -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	
	<link href="styles/style.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
	<link rel="stylesheet" href="styles/filter-sidebar.css" />
	<link rel="stylesheet" href="styles/style.css" />
</head>

<body class="bg-white">
	<!-- Loader HTML -->
	<div id="loader" class="loader">
		<div class="spinner"></div>
	</div>

	<!-- Sidebar -->
	<div class="layout-container">
		<nav class="sidebar">
			<div class="logo py-3">
				<img src="/assets/img/Wizard_logo.png" alt="Whizard Logo" />
			</div>
			<ul class="mt-5 space-y-4">
				<li>
					<a href="/" class=""><span class="icon active"><i class="fas fa-chart-line"></i></span>
						Dashboard</a>
				</li>
				<li>
					<a href="/chats"><span class="icon"><i class="fa-regular fa-comment"></i></span>
						Chats</a>
				</li>
				<li>
					<a href="/contact-list"><span class="icon"><i class="fa-regular fa-address-book"></i></span>
						
						Contact List</a>
				</li>
				<li>
					<a href="/template"><span class="icon"><i class="fa-regular fa-envelope"></i></span>
						Template</a>
				</li>
				<li>
					<a href="/settings"><span class="icon"><i class="fa-regular fa-user"></i></span>
						Settings</a>
				</li>
				<li>
					<a href="/reports/campaign-list"><span class="icon"><i class="fa-regular fa-chart-bar"></i></span>
						Reports</a>
				</li>
			</ul>
			<div class="user-profile " onclick="toggleDropdown()">
				<img src="https://via.placeholder.com/50" alt="User Profile" />
				<div id="dropdownMenu" class="dropdown-menu hidden">
					<a href="/settings/profile">Profile</a>
					<button onclick="logout()">Logout</button>
				</div>
			</div>
			
			
			<script>
				function toggleDropdown () {
					const dropdown = document.getElementById("dropdownMenu");
					dropdown.classList.toggle("hidden");
				}
				
				async function logout () {
					try {
						const response = await fetch('/api/users/logout', {
							method: 'POST',
							credentials: 'same-origin'
						});
						
						if (response.ok) {
							window.location.href = '/login';
						} else {
							alert('Error logging out.');
						}
					} catch (err) {
						console.error('Error:', err);
						alert('Error logging out.');
					}
				}
				
				// Close the dropdown if clicked outside
				window.onclick = function (event) {
					const dropdown = document.getElementById("dropdownMenu");
					if (!event.target.closest('.user-profile')) {
						dropdown.classList.add("hidden");
					}
				};
			</script>
		</nav>
		
		<!-- Main Content -->
		<div class="p-4">
			<div class="flex justify-between items-center">
				<h1 class="dash-text">Dashboard</h1>
				<span class="p-text text-lg">WhatsApp API status:
					<span class="<%= status === 'Pending' ? 'text-red-500' : 'text-green-500' %> text-lg">
						<%= status %>
					</span>
				</span>
			</div>
			<p class="p-text py-4">
				All the statistics from your account are displayed here. You
				can apply various filters to refine the data and get fully
				customized results.
			</p>
			<!-- Connect to WhatsApp -->
			
			<div class="gradient-bg rounded-2xl shadow-slate-700 shadow-md overflow-hidden relative h-44">
				<div class="p-8 flex flex-col justify-center h-full relative z-10">
					<h1 class="text-3xl font-semibold text-white mb-2">
						Connect your WhatsApp Business Number
					</h1>
					<p class="text-gray-400 text-sm mb-4">
						Start engaging with your customers through WhatsApp
						Business API
					</p>
					<button id="connectBtn" onclick="launchWhatsAppSignup()" class="connect-btn bg-white text-gray-900 px-4 py-2 rounded-full text-sm font-medium inline-flex items-center w-fit hover:bg-gray-50">
						Connect Now
					</button>
				</div>
				
				<!-- Phone Icon -->
				<div class="phone-circles">
					<!-- Outer Circle -->
					<div class="relative w-[500px] h-[500px]">
						<div class="absolute inset-0 rounded-full circle-gradient"></div>
						<!-- Middle Circle -->
						<div class="absolute inset-8 rounded-full circle-gradient"></div>
						<!-- Inner Circle with Phone Icon -->
						<div class="absolute inset-16 rounded-full circle-gradient flex items-center justify-center">
							<!-- <svg class="w-12 h-12 text-white opacity-80" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5">
                <path d="M21 11.5C21 16.75 16.75 21 11.5 21C9.54377 21 7.75537 20.3652 6.29677 19.2796L3 20L3.72038 16.7032C2.63481 15.2446 2 13.4562 2 11.5C2 6.25 6.25 2 11.5 2C16.75 2 21 6.25 21 11.5Z" stroke-linecap="round" stroke-linejoin="round" />
              </svg> -->
							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" class="bi bi-telephone border-white" viewBox="0 0 16 16">
								<path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
							</svg>
							
							<!-- <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#6b7280">
                <path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z" />
              </svg> -->
						</div>
					</div>
				</div>
				<div class="absolute inset-0 bg-gradient-to-r from-transparent to-black/20"></div>
				
				<!-- Status Message -->
				<div id="statusMessage" class="mt-4 p-4 rounded-lg hidden">
					<!-- Will be populated by JavaScript -->
				</div>
			</div>
			<!-- Filter Bar -->
			<div class="filter-bar mt-5 border w-fit flex p-2 rounded-md hover:cursor-pointer" id="filterBtn">
				<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000">
					<path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z" />
				</svg><span class="pl-2">Select the Filter Date</span>
			</div>
			
			<!-- Statistics Cards -->
			<div class="row w-full flex justify-center items-center">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="border-gray-500 border card-dashboard">
						<h5>Messages Sent</h5>
						<h4>200</h4>
						<div class="d-flex justify-content-between">
							<div class="bg-messages-sent icon-wrapper">
								<i class="fas fa-paper-plane"></i>
							</div>
							<div class="border icon-wrapper">
								<i class="fa-solid fa-list"></i>
							</div>
						</div>
						<!-- <div class="progress">
              <div class="progress-bar progress-bar-green" style="width: 100%"></div>
            </div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="border-gray-500 border card-dashboard">
						<h5>Replies Received</h5>
						<h4>175</h4>
						<div class="d-flex justify-content-between">
							<div class="bg-replies-received icon-wrapper">
								<i class="fas fa-reply"></i>
							</div>
							<div class="border icon-wrapper">
								<i class="fa-solid fa-list"></i>
							</div>
						</div>
						<!-- <div class="progress">
              <div class="progress-bar progress-bar-yellow" style="width: 85%"></div>
            </div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="border-gray-500 border card-dashboard">
						<h5>Messages Read</h5>
						<h4>175</h4>
						<div class="d-flex justify-content-between">
							<div class="bg-messages-read icon-wrapper">
								<i class="fas fa-envelope-open-text"></i>
							</div>
							<div class="border icon-wrapper">
								<i class="fa-solid fa-list"></i>
							</div>
						</div>
						<!-- <div class="progress">
              <div class="progress-bar progress-bar-blue" style="width: 85%"></div>
            </div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="border-gray-500 border card-dashboard">
						<h5>Messages Delivered</h5>
						<h4>190</h4>
						<div class="d-flex justify-content-between">
							<div class="bg-messages-delivered icon-wrapper">
								<i class="fas fa-check"></i>
							</div>
							<div class="border icon-wrapper">
								<i class="fa-solid fa-list"></i>
							</div>
						</div>
						<!-- <div class="progress">
              <div class="progress-bar progress-bar-grey" style="width: 90%"></div>
            </div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="border-gray-500 border card-dashboard">
						<h5>Messages Failed</h5>
						<h4>10</h4>
						<div class="d-flex justify-content-between">
							<div class="bg-messages-failed icon-wrapper">
								<i class="fas fa-exclamation-triangle"></i>
							</div>
							<div class="border icon-wrapper">
								<i class="fa-solid fa-list"></i>
							</div>
						</div>
						<!-- <div class="progress">
              <div class="progress-bar progress-bar-red" style="width: 10%"></div>
            </div> -->
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="border-gray-500 border card-dashboard">
						<h5>Number Doesn't Exist</h5>
						<h4>10</h4>
						<div class="d-flex justify-content-between">
							<div class="bg-number-invalid icon-wrapper">
								<i class="fas fa-user-times"></i>
							</div>
							<div class="border icon-wrapper">
								<i class="fa-solid fa-list"></i>
							</div>
						</div>
						<!-- <div class="progress">
              <div class="progress-bar progress-bar-orange" style="width: 10%"></div>
            </div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include('partials/filter-sidebar') %>
	 <script>
	 	window.addEventListener('load', function () {
	 		// Fade out the loader smoothly by changing the opacity
	 		document.getElementById('loader').style.opacity = '0';
	 		
	 		// Optionally, hide it completely after the fade-out effect is finished
	 		setTimeout(function () {
	 			document.getElementById('loader').style.visibility = 'hidden';
	 		}, 1000); // Match the duration of the fade-out (1 second in this case)
	 	});
	 </script>

	<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
	<script src="https://kit.fontawesome.com/44e4e59292.js" crossorigin="anonymous"></script>
	<script src="/Dashboard/js/filter-sidebar.js"></script>
	<!-- <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script> -->
	
	<script>
		// SDK initialization
		const app_id = <%- JSON.stringify(app) %>;
		const config_id = <%- JSON.stringify(config) %>;
		const graph_v = <%- JSON.stringify(graph) %>;
		
		window.fbAsyncInit = function () {
			FB.init({
				appId: app_id,
				autoLogAppEvents: true,
				xfbml: true,
				version: graph_v,
			});
		};
		
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s);
			js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		
		// Session logging message event listener
		window.addEventListener('message', (event) => {
			if (event.origin !== "https://www.facebook.com" && event.origin !== "https://web.facebook.com") return;
			try {
				const data = JSON.parse(event.data);
				if (data.type === 'WA_EMBEDDED_SIGNUP') {
					console.log('message event: ', data);
				}
			} catch {
				console.log('message event catch: ', event.data)
			}
		});
		
		// Response callback
		const fbLoginCallback = (response) => {
			if (response.authResponse) {
				const code = response.authResponse.code;
				console.log('response: ', code);
				fetch('/api/facebook/auth_code', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({
							code
						}),
					})
					.then(response => response.json())
					.then(data => {
						console.log('Access Token received:', data.access_token);
					})
					.catch(error => {
						console.error('Error:', error);
					});
				
			} else {
				console.log('response: ', response);
			}
		}
		
		// Launch method and callback registration
		const launchWhatsAppSignup = () => {
			FB.login(fbLoginCallback, {
				config_id: config_id,
				response_type: 'code',
				override_default_response_type: true,
				extras: {
					setup: {},
					featureType: '',
					sessionInfoVersion: '3',
				}
			});
		}
	</script>
</body>

</html>