<div class="w-full px-3 bg-white">
	<div class="flex flex-col w-full items-center">
		<div class="w-full h-full flex justify-center box-content rounded-xl" id="left-side">
			<div class="w-11/12">
				
				<div class="flex items-center justify-between my-8">
					<button type="button" class="<%= paymentTableData?.length > 0 ? '' : 'hidden' %>flex items-cente  text-gray-500" onclick="location.reload()"><span class="mb-1 mr-1">&LeftArrow;</span> Go Back</button>
					<h1 class="text-2xl text-center font-semibold">Payment Plan</h1>
					<div class="invisible">payment</div>
				</div>
				
				<!-- Plan Selection -->
				<div class="grid grid-cols-3 gap-10">
					<!-- Weekday Fall Pass -->
					<label class="radio-option block cursor-pointer grow">
						<input type="radio" name="plan" value="weekday" class="sr-only">
						<div class="option-content h-[35rem] border-2 border-gray-200 rounded-xl p-8 hover:border-gray-300">
							<div class="flex items-center space-x-4 w-full">
								<div class="w-full">
									<input type="number" hidden value="1" />
									<h3 class="text-2xl font-semibold text-gray-900">Starter</h3>
									<h4 class=" text-gray-500 text-lg">Everything you need to get started with your business.</h4>
									<div class="flex items-center justify-between my-3">
										<div class="text-lg text-red-500 line-through"><span class=" mr-1 text-gray-500"><%= plans[1].currency %></span><%= plans[1].amount * 3 %></div>
										<div class="text-2xl font-bold text-gray-900"><span class=" mr-1 text-gray-500"><%= plans[1].currency %></span><%= plans[1].amount %></div>
									</div>
									<div class=" mt-2">
										<ul class="space-y-2">
											<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />3,000 platform message credits included</li>
											<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Live Dashboard View</li>
											<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Manual Messaging (one-to-one/ad-hoc)</li>
											<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" /> Bulk Outreach</li>
											<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Basic Reports – downloadable summaries</li>
											<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Agent Console (up to 2 users)</li>
											<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Email Support</li>
											<li class=" text-gray-600 flex items-center italic">🔔 Meta WhatsApp charges billed separately</li>
										</ul>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</label>
					
					<!-- Unlimited Fall Pass (Most Popular) -->
					<label class="radio-option block cursor-pointer grow min-h">
						<input type="radio" name="plan" value="unlimited" class="sr-only" checked>
						<div class="option-content  h-[35rem] border-2 border-gray-200 rounded-xl p-6 hover:border-gray-300">
							<div class="flex items-center justify-between">
								<div class="flex items-center space-x-4 w-full">
									<div class="w-full">
										<input type="number" hidden value="2" />
										<h3 class="text-2xl font-semibold text-gray-900">Growth</h3>
										<h4 class="text-gray-500 text-lg">Highly recommended plan to make the best use of Retargeting Campaigns</h4>
										<div class="flex items-center justify-between my-3">
											<div class="text-lg text-red-500 line-through"><span class=" mr-1 text-gray-500"><%= plans[3].currency %></span><%= plans[3].amount * 3 %></div>
											<div class="text-2xl font-bold text-gray-900"><span class=" mr-1 text-gray-500"><%= plans[3].currency %></span><%= plans[3].amount %></div>
											<!-- <div class=" text-gray-500">Sep to Jan</div> -->
										</div>
										<div class=" mt-2">
											<ul class="space-y-2">
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />5,000 platform message credits included</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Everything in Starter</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Campaign Analytics – measure outreach & automation flow performance</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Agent Console (up to 5 users) – manage & monitor conversations</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Bulk Messaging (CSV upload)</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Advanced Reports & Insights</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Unlimited Centralized Chat Inbox</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Email + Phone Support</li>
												<li class=" text-gray-600 flex items-center italic">🔔 Meta WhatsApp charges billed separately</li>
											</ul>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
					</label>
					
					<!-- Extended Fall Pass -->
					<label class="radio-option block cursor-pointer grow">
						<input type="radio" name="plan" value="extended" class="sr-only">
						<div class="option-content  h-[35rem] border-2 border-gray-200 rounded-xl p-6 hover:border-gray-300">
							<div class="flex items-center justify-between">
								<div class="flex items-center space-x-4 w-full">
									<!-- <div class="check-indicator"></div> -->
									<div class="w-full">
										<input type="number" hidden value="5" />
										<h3 class="text-2xl font-semibold text-gray-900">Scale</h3>
										<h4 class="text-gray-900 text-lg">Recommended for Big Companies</h4>
										<div class="flex items-center justify-between my-3">
											<div class=" text-red-500 line-through"><span class=" mr-1 text-gray-500"><%= plans[5].currency %></span><%= plans[5].amount * 3 %></div>
											<div class="text-2xl font-bold text-gray-900"><span class=" mr-1 text-gray-500"><%= plans[5].currency %></span><%= plans[5].amount %></div>
											<!-- <div class=" text-gray-500">Sep to Jan</div> -->
										</div>
										<div class="mt-2">
											<ul class="space-y-2">
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />8,000 platform message credits included</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Everything in Growth</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Contact Segmentation (New, Retargeting, Loyal, etc.)</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Early Access to New Features</li>
												<li class=" text-gray-600 flex items-center"><img src="svg/check-circle.svg" alt="check" class="w-6 mr-2" />Dedicated Account Manager for Support</li>
												<li class=" text-gray-600 flex items-center italic">🔔 Meta WhatsApp charges billed separately</li>
											</ul>
										</div>
									</div>
								</div>
								
							</div>
							
						</div>
						
					</label>
				</div>
			</div>
		</div>
		
		<div class="w-1/2 flex justify-center">
			<div class="space-y-4 py-10" id="btn-wrap">
				
				<button type="button" class="bg-black rounded h-10 w-52 flex items-center justify-center" id="plan-payment-btn">
					<div class="text-white loader-text">Continue with Payment</div>
					<div class="loading-spinner hidden"></div>
				</button>
				
			</div>
			
			<div id="stripe-section" class="hidden px-4 mt-10">
				
				<div id="card-wrapper" class="w-full hidden">
					<label class=" text-gray-500 mb-1 block">Card details</label>
					<div id="card-element" class="w-full border border-gray-300 rounded-lg px-3 py-2 bg-white"></div>
					<div id="card-errors" class="text-xs text-red-500 mt-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>