<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta charset="UTF-8" />
	<title>Templates - Whizard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- <link class="main-stylesheet" href="pages/css/themes/corporate.css" rel="stylesheet" type="text/css" /> -->
	<!-- Please remove the file below for production: Contains demo classes -->
	<!-- <link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" /> -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" />
	<link href="styles/style.css" rel="stylesheet" type="text/css" />
	<link href="styles/template.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<!-- Loader HTML -->
<%- include("../commonJS/loader") %>

<body>
	
	
	<!-- Sidebar -->
	<div class="layout-container">
		<%- include("../commonJS/sidebar")  %>
		<!-- END SIDEBAR MENU TOP TRAY CONTENT-->
		
		<!-- START PAGE-CONTAINER -->
		<div class="main-content">
			<!-- END HEADER -->
			<div class="logo breadCrumb ">
				
				<!-- START BREADCRUMB -->
				<nav class="flex" aria-label="Breadcrumb">
					
					<div class="flex items-center">
						<a href="/" class="text-gray-500 hover:text-gray-700 hover:no-underline">Dashboard</a>
						<svg class="w-4 h-4 mx-2 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 10 7.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
					
					<div class="flex items-center">
						<a href="/template" class="text-red-600 hover:text-gray-700 hover:no-underline">Templates</a>
						<div class="relative inline-block pl-2">
							<i class="info-icon text-red-700 hover:text-red-900">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
									<circle cx="12" cy="12" r="10"></circle>
									<line x1="12" y1="16" x2="12" y2="12"></line>
									<line x1="12" y1="8" x2="12.01" y2="8"></line>
								</svg>
								
							</i>
							<div class="tooltip invisible opacity-0 w-64 bg-black text-white text-sm rounded-lg absolute z-[100] p-4 -translate-x-1/2 left-1/2 mt-2 transition-opacity duration-300">
								<!-- Arrow -->
								<div class="absolute -top-2 left-1/2 -translate-x-1/2 w-4 h-4 bg-gray-900 transform rotate-45"></div>
								<!-- Content -->
								<div class="relative">
									Manage message templates with status labels (Pending, Approved, Rejected) to track approvals and modifications.
								</div>
							</div>
						</div>
					</div>
					
				</nav>
				<div class="flex items-center space-x-3">
					<% if (access?.templates?.createTemplate && whatsAppStatus == "Live") { %>
					<button class="bg-black p-2 px-3 flex items-center rounded-lg text-white  " onclick="document.location='create-template'">
						<img src="svg/plus.svg" class="pr-2" alt="plus">
						Create new template
					</button>
					<button class="bg-black p-2 px-3 flex items-center rounded-lg text-white  " onclick="location.href='/contact-list/createCampaign'">
					
						<svg width="18" height="18" viewBox="0 0 17 17" fill="white" xmlns="http://www.w3.org/2000/svg" class="mr-2">
							<path d="M15.9834 1.01675C15.8419 0.875373 15.6653 0.774266 15.4718 0.723842C15.2782 0.673418 15.0748 0.6755 14.8823 0.729874H14.8717L1.37596 4.82487C1.15686 4.88802 0.962123 5.01625 0.81755 5.19257C0.672976 5.36889 0.585394 5.58498 0.566408 5.8122C0.547422 6.03942 0.597928 6.26705 0.711235 6.46492C0.824542 6.66279 0.9953 6.82156 1.20088 6.92019L7.17182 9.82831L10.0757 15.7957C10.166 15.9885 10.3096 16.1513 10.4896 16.2651C10.6695 16.3789 10.8782 16.4387 11.091 16.4377C11.1234 16.4377 11.1557 16.4363 11.1881 16.4335C11.4151 16.4151 11.6311 16.3277 11.807 16.183C11.983 16.0384 12.1105 15.8434 12.1724 15.6242L16.2646 2.12839C16.2646 2.12487 16.2646 2.12136 16.2646 2.11784C16.3197 1.92586 16.3227 1.72268 16.2733 1.52917C16.2238 1.33566 16.1238 1.1588 15.9834 1.01675ZM11.0974 15.3021L11.0938 15.312V15.3071L8.27713 9.52034L11.6521 6.14534C11.7532 6.039 11.8087 5.89739 11.8068 5.75071C11.8049 5.60403 11.7458 5.46389 11.6421 5.36016C11.5384 5.25644 11.3982 5.19733 11.2515 5.19546C11.1049 5.19358 10.9632 5.24907 10.8569 5.35011L7.4819 8.72511L1.69307 5.90839H1.68815H1.69799L15.1874 1.81269L11.0974 15.3021Z" />
						</svg>Send Broadcast
					</button>
					<% } else if (whatsAppStatus == "Pending")  { %>
					<button class="bg-gray-500 p-2 px-3 flex items-center rounded-lg hover:cursor-not-allowed text-white " title="Connect with whatsApp Business API to send message" disabled>
						<img src="svg/plus.svg" class="pr-2" alt="plus">
						Create new template
					</button>
					<button class="bg-gray-500 p-2 px-3 flex items-center rounded-lg hover:cursor-not-allowed text-white  " title="Connect with whatsApp Business API to send message" disabled>
					
						<svg width="18" height="18" viewBox="0 0 17 17" fill="white" xmlns="http://www.w3.org/2000/svg" class="mr-2">
							<path d="M15.9834 1.01675C15.8419 0.875373 15.6653 0.774266 15.4718 0.723842C15.2782 0.673418 15.0748 0.6755 14.8823 0.729874H14.8717L1.37596 4.82487C1.15686 4.88802 0.962123 5.01625 0.81755 5.19257C0.672976 5.36889 0.585394 5.58498 0.566408 5.8122C0.547422 6.03942 0.597928 6.26705 0.711235 6.46492C0.824542 6.66279 0.9953 6.82156 1.20088 6.92019L7.17182 9.82831L10.0757 15.7957C10.166 15.9885 10.3096 16.1513 10.4896 16.2651C10.6695 16.3789 10.8782 16.4387 11.091 16.4377C11.1234 16.4377 11.1557 16.4363 11.1881 16.4335C11.4151 16.4151 11.6311 16.3277 11.807 16.183C11.983 16.0384 12.1105 15.8434 12.1724 15.6242L16.2646 2.12839C16.2646 2.12487 16.2646 2.12136 16.2646 2.11784C16.3197 1.92586 16.3227 1.72268 16.2733 1.52917C16.2238 1.33566 16.1238 1.1588 15.9834 1.01675ZM11.0974 15.3021L11.0938 15.312V15.3071L8.27713 9.52034L11.6521 6.14534C11.7532 6.039 11.8087 5.89739 11.8068 5.75071C11.8049 5.60403 11.7458 5.46389 11.6421 5.36016C11.5384 5.25644 11.3982 5.19733 11.2515 5.19546C11.1049 5.19358 10.9632 5.24907 10.8569 5.35011L7.4819 8.72511L1.69307 5.90839H1.68815H1.69799L15.1874 1.81269L11.0974 15.3021Z" />
						</svg>Send Broadcast
					</button>
					<% } else if (access?.templates?.createTemplate)  { %>
					<button class="bg-black p-2 px-3 flex items-center rounded-lg text-white  " onclick="document.location='create-template'">
						<img src="svg/plus.svg" class="pr-2" alt="plus">
						Create new template
					</button>
					<% } else if (access?.contactList?.sendBroadcast) { %>
					<button class="bg-black p-2 px-3 flex items-center rounded-lg text-white  " onclick="location.href='/contact-list/createCampaign'">
					
						<svg width="18" height="18" viewBox="0 0 17 17" fill="white" xmlns="http://www.w3.org/2000/svg" class="mr-2">
							<path d="M15.9834 1.01675C15.8419 0.875373 15.6653 0.774266 15.4718 0.723842C15.2782 0.673418 15.0748 0.6755 14.8823 0.729874H14.8717L1.37596 4.82487C1.15686 4.88802 0.962123 5.01625 0.81755 5.19257C0.672976 5.36889 0.585394 5.58498 0.566408 5.8122C0.547422 6.03942 0.597928 6.26705 0.711235 6.46492C0.824542 6.66279 0.9953 6.82156 1.20088 6.92019L7.17182 9.82831L10.0757 15.7957C10.166 15.9885 10.3096 16.1513 10.4896 16.2651C10.6695 16.3789 10.8782 16.4387 11.091 16.4377C11.1234 16.4377 11.1557 16.4363 11.1881 16.4335C11.4151 16.4151 11.6311 16.3277 11.807 16.183C11.983 16.0384 12.1105 15.8434 12.1724 15.6242L16.2646 2.12839C16.2646 2.12487 16.2646 2.12136 16.2646 2.11784C16.3197 1.92586 16.3227 1.72268 16.2733 1.52917C16.2238 1.33566 16.1238 1.1588 15.9834 1.01675ZM11.0974 15.3021L11.0938 15.312V15.3071L8.27713 9.52034L11.6521 6.14534C11.7532 6.039 11.8087 5.89739 11.8068 5.75071C11.8049 5.60403 11.7458 5.46389 11.6421 5.36016C11.5384 5.25644 11.3982 5.19733 11.2515 5.19546C11.1049 5.19358 10.9632 5.24907 10.8569 5.35011L7.4819 8.72511L1.69307 5.90839H1.68815H1.69799L15.1874 1.81269L11.0974 15.3021Z" />
						</svg>Send Broadcast
					</button>
					<% } else { %>
					<button class="bg-gray-500 p-2 px-3 flex items-center rounded-lg hover:cursor-not-allowed text-white  " title="You don't have permissions to access this" disabled>
						<img src="svg/plus.svg" class="pr-2" alt="plus">
						Create new template
					</button>
					<button class="bg-gray-500 p-2 px-3 flex items-center rounded-lg hover:cursor-not-allowed text-white  " title="You don't have permissions to access this" disabled>
						<svg width="18" height="18" viewBox="0 0 17 17" fill="white" xmlns="http://www.w3.org/2000/svg" class="mr-2">
							<path d="M15.9834 1.01675C15.8419 0.875373 15.6653 0.774266 15.4718 0.723842C15.2782 0.673418 15.0748 0.6755 14.8823 0.729874H14.8717L1.37596 4.82487C1.15686 4.88802 0.962123 5.01625 0.81755 5.19257C0.672976 5.36889 0.585394 5.58498 0.566408 5.8122C0.547422 6.03942 0.597928 6.26705 0.711235 6.46492C0.824542 6.66279 0.9953 6.82156 1.20088 6.92019L7.17182 9.82831L10.0757 15.7957C10.166 15.9885 10.3096 16.1513 10.4896 16.2651C10.6695 16.3789 10.8782 16.4387 11.091 16.4377C11.1234 16.4377 11.1557 16.4363 11.1881 16.4335C11.4151 16.4151 11.6311 16.3277 11.807 16.183C11.983 16.0384 12.1105 15.8434 12.1724 15.6242L16.2646 2.12839C16.2646 2.12487 16.2646 2.12136 16.2646 2.11784C16.3197 1.92586 16.3227 1.72268 16.2733 1.52917C16.2238 1.33566 16.1238 1.1588 15.9834 1.01675ZM11.0974 15.3021L11.0938 15.312V15.3071L8.27713 9.52034L11.6521 6.14534C11.7532 6.039 11.8087 5.89739 11.8068 5.75071C11.8049 5.60403 11.7458 5.46389 11.6421 5.36016C11.5384 5.25644 11.3982 5.19733 11.2515 5.19546C11.1049 5.19358 10.9632 5.24907 10.8569 5.35011L7.4819 8.72511L1.69307 5.90839H1.68815H1.69799L15.1874 1.81269L11.0974 15.3021Z" />
						</svg>Send Broadcast
					</button>
					<% } %>
				</div>
			</div>
			<div class="flex justify-between items-center w-[98%] pt-4">
				<div class="flex items-center justify-start">
					<h6 class="pr-2 text-black">List of templates</h6>
					<div class="relative flex items-center bg-gray-200 w-[4.5rem] h-8 rounded-full p-1">
						<!-- Toggle Button -->
						<div id="toggle" class="absolute w-8 h-6 bg-white rounded-full transform transition-transform duration-300"></div>
						
						<img id="option1" class="fas fa-list text-red-600 cursor-pointer z-10 ml-2" src="svg/template-list-red.svg" alt="list">
						<!-- <i id="option1" class="fas fa-list text-red-600 text-gray-400 cursor-pointer z-10 ml-2"></i> -->
						<img id="option2" class="fas fa-th text-gray-400 cursor-pointer z-10 ml-[1.3rem] mr-2" src="svg/template-cards-gray.svg" alt="cards">
						<!-- Grid Icon -->
						<!-- <i id="option2" class="fas fa-th text-gray-400 cursor-pointer z-10 ml-[1.3rem] mr-2"></i> -->
					</div>
				</div>
				
				<div class="flex justify-end items-center">
					<div id="show-modal" class="px-4 filter cursor-pointer flex text-gray-500 hover:text-gray-700 items-center" onclick="openModal()">
						<!-- <i class="fa fa-filter" ></i> -->
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="h-5 w-5">
							<path fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" d="M3 4h18L14 11v7l-4 2v-9L3 4z" />
						</svg>
						<span class="ml-1">Filter</span>
					</div>
					<% if (access?.templates?.createTemplate && whatsAppStatus == "Live") { %>
					<button type="button" class="flex items-center bg-blue-500 text-white px-4 py-2 rounded" onclick="getStatus()">
						<i class="fas fa-sync mr-2"></i>Sync Facebook
					</button>
					<% } else if (whatsAppStatus == "Pending")  { %>
					<button type="button" class="flex items-center bg-blue-300 text-white px-4 py-2 rounded hover:cursor-not-allowed" title="Connect with whatsApp Business API to send message" disabled>
						<i class="fas fa-sync mr-2"></i>Sync Facebook
					</button>
					<% } else if (access?.templates?.createTemplate)  { %>
					<button type="button" class="flex items-center bg-blue-500 text-white px-4 py-2 rounded" onclick="getStatus()">
						<i class="fas fa-sync mr-2"></i>Sync Facebook
					</button>
					<% } else { %>
					<button type="button" class="flex items-center bg-blue-300 text-white px-4 py-2 rounded hover:cursor-not-allowed" title="You don't have permissions to access this" disabled>
						<i class="fas fa-sync mr-2"></i>Sync Facebook
					</button>
					<% } %>
				</div>
			</div>
			<% if (list.length > 0) { %>
			<!-- Templates container -->
			<div id="" class="mainDiv">
				<!-- List View (default) -->
				<div id="grid-view" class="hidden">
					<%- include('partials/templates-cards') %>
				</div>
				<div id="list-view" class="block">
					<%- include('partials/templates-table') %>
				</div>
				
				
			</div>
			<!-- Grid View -->
			<% if (!(page === 1 && list.length < 6)) { %>
			<%- include('../commonJS/pagination') %>
			<% } %>
			
			<% } else { %>
			<div class="flex flex-col items-center justify-center min-h-[400px]  rounded-lg mt-4">
				<div class="text-center">
					<img src="https://img.freepik.com/free-vector/hands-holding-tablet-with-forefinger-clicking-start-button-new-application-launch-flat-illustration_74855-20595.jpg?ga=GA1.1.131490893.1732525963&semt=ais_hybrid" alt="No contacts" class="w-48 h-48 mx-auto mb-4">
					
					<h3 class="text-xl font-semibold text-gray-900 mb-2">No Templates yet</h3>
					<p class="text-gray-600 mb-6">Start adding templates by clicking on "Create new template"</p>
					<% if (access?.templates?.createTemplate && whatsAppStatus == "Live") { %>
					<button class="bg-black p-2 px-3 flex items-center rounded-lg text-white  w-full justify-center" onclick="document.location='create-template'">
						<i class="fa-solid fa-plus pr-2"></i>
						Create new template
					</button>
					<% } else if (whatsAppStatus == "Pending")  { %>
					<button class="bg-gray-700 p-2 px-3 flex items-center rounded-lg hover:cursor-not-allowed text-white  w-full justify-center" title="Connect with whatsApp Business API to send message" disabled>
						<i class="fa-solid fa-plus pr-2"></i>
						Create new template
					</button>
					<% } else if (access?.templates?.createTemplate)  { %>
					<button class="bg-black p-2 px-3 flex items-center rounded-lg text-white  w-full justify-center" onclick="document.location='create-template'">
						<i class="fa-solid fa-plus pr-2"></i>
						Create new template
					</button>
					<% } else { %>
					<button class="bg-gray-700 p-2 px-3 flex items-center rounded-lg hover:cursor-not-allowed text-white  w-full justify-center" title="You don't have permissions to access this" disabled>
						<i class="fa-solid fa-plus pr-2"></i>
						Create new template
					</button>
					<% } %>
				</div>
			</div>
			<% } %>
		</div>
		<script>
			const toggle = document.getElementById('toggle');
			const option1 = document.getElementById('option1');
			const option2 = document.getElementById('option2');
			const listView = document.getElementById('list-view');
			const gridView = document.getElementById('grid-view');
			
			// Check localStorage on load and set default if not present
			if (localStorage.getItem('isListView') === null) {
				localStorage.setItem('isListView', 'true'); // Default to list view
			}
			
			let isListView = localStorage.getItem('isListView') === 'true';
			
			// Function to update view based on isListView value
			function updateView () {
				if (isListView) {
					// List view active
					toggle.classList.remove('translate-x-4');
					toggle.classList.add('translate-x-0');
					
					option1.src = 'svg/template-list-red.svg';
					option2.src = 'svg/template-cards-gray.svg';
					
					listView.classList.remove('hidden');
					listView.classList.add('block');
					gridView.classList.add('hidden');
					gridView.classList.remove('block');
				} else {
					// Grid view active
					toggle.classList.remove('translate-x-0');
					toggle.classList.add('translate-x-[2.0rem]');
					
					option2.src = 'svg/template-cards-red.svg';
					option1.src = 'svg/template-list-gray.svg';
					
					gridView.classList.remove('hidden');
					gridView.classList.add('block');
					listView.classList.add('hidden');
					listView.classList.remove('block');
				}
			}
			
			// Update view on page load
			updateView();
			
			// Event listener for List Icon
			option1.addEventListener('click', () => {
				if (!isListView) {
					isListView = true;
					localStorage.setItem('isListView', 'true');
					updateView();
				}
			});
			
			// Event listener for Grid Icon
			option2.addEventListener('click', () => {
				if (isListView) {
					isListView = false;
					localStorage.setItem('isListView', 'false');
					updateView();
				}
			});
			
			
			const timestampElements = document.querySelectorAll("[data-timestamp]");
			
			timestampElements.forEach((element) => {
				const timestamp = parseInt(element.getAttribute("data-timestamp"), 10);
				
				const date = new Date(timestamp);
				const formattedDate = date.toLocaleDateString("en-US", {
					year: "numeric",
					month: "short",
					day: "numeric",
					hour: "2-digit",
					minute: "2-digit",
				});
				
				const parts = formattedDate.split(",");
				const finalDate =
					parts.length > 1 ?
					`${parts[0]}, ${parts[1].trim()} at ${parts[2].trim()}` :
					formattedDate;
				element.textContent = finalDate;
			});
		</script>
		
		<div id="filter-modal" class="modal bg-slate-500/50">
			<div class="w-[30%] top-[20%] left-[35%] relative" role="document">
				<div class=" bg-white rounded-xl ">
					<div class=" flex justify-between items-center px-6 pt-6">
						<h5 class="text-xl font-semibold text-gray-800">Apply Filters</h5>
						<span class="close-modal text-3xl text-gray-600 cursor-pointer hover:text-gray-800" onclick="closeModal()">&times;</span>
					</div>
					<div class="modal-body p-6">
						<!-- Modal Form -->
						<div class="space-y-6">
							<!-- Search Input -->
							<div class="relative">
								<svg class="absolute left-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
								</svg>
								<input type="text" placeholder="Search by template name" class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
							</div>
							
							<!-- Language Dropdown -->
							<div class="space-y-2">
								<label class="block text-gray-400">Choose Language</label>
								<select name="language" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
									<option selected disabled>Language</option>
									<% languagesCode.forEach((language) => {  %>
									<option value="<%= language.code %>"><%= language.language %></option>
									<% }); %>
								</select>
							</div>
							
							<!-- Category Dropdown -->
							<div class="space-y-2">
								<label class="block text-gray-400">Choose Category</label>
								<select name="category" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
									<option selected disabled>Category</option>
									<option value="Marketing">Marketing</option>
									<option value="Utility">Utility</option>
									<option value="Authentication">Authentication</option>
								</select>
							</div>
						</div>
						<div class="mt-4 flex justify-between">
							<!-- Apply Filter Button -->
							<button id="applyFilterBtn" class="bg-black text-white px-4 py-2 rounded-md focus:outline-none">
								Apply Filter
							</button>
							
							<!-- Clear Filter Button -->
							<button id="clearFilterBtn" class="text-red-500 underline bg-white px-4 py-2 rounded-md focus:outline-none ml-2">
								Clear Filter
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			// Open Modal
			function openModal () {
				const modal = document.getElementById('filter-modal');
				modal.style.display = 'block';
				setTimeout(() => {
					modal.style.opacity = '1';
				}, 10); // Small delay to ensure display property is applied before opacity
			}
			
			// Close Modal with opacity transition
			function closeModal () {
				const modal = document.getElementById('filter-modal');
				modal.style.opacity = '0';
				setTimeout(() => {
					modal.style.display = 'none';
				}, 300); // Match this duration with the CSS transition duration
			}
			
			// Toggle Dropdown
			function toggleDropdown1 () {
				const dropdown = document.getElementById('category-options');
				dropdown.classList.toggle('hidden');
			}
			
			// Select Category and Update Button Text
			function selectCategory (category) {
				document.getElementById('categoryDropdown').innerText = category;
				toggleDropdown1(); // Close the dropdown after selection
			}
			
			// Apply Filters Function
			const searchInput = document.querySelector('input[type="text"]');
			const languageSelect = document.querySelector('select[name="language"]');
			const categorySelect = document.querySelector('select[name="category"]');
			const applyFilterBtn = document.getElementById('applyFilterBtn');
			const clearFilterBtn = document.getElementById('clearFilterBtn');
			let queryParams = new URLSearchParams(location.search);
			
			// Only set textContent if the query parameter exists
			if (queryParams.has('category')) {
				categorySelect.value = queryParams.get('category');
			}
			
			if (queryParams.has('language')) {
				languageSelect.value = queryParams.get('language');
			}
			
			if (queryParams.has('search')) {
				searchInput.value = queryParams.get('search');
			}
			
			// Function to apply the filter
			function applyFilter () {
				// Get the values from inputs and dropdowns
				const searchValue = searchInput ? searchInput.value.trim() : '';
				const selectedLanguage = languageSelect ? languageSelect.options[languageSelect.selectedIndex]?.value : '';
				const selectedCategory = categorySelect ? categorySelect.options[categorySelect.selectedIndex]?.value : '';
				
				// Update query params in the URL
				if (searchValue) {
					queryParams.set('search', searchValue)
				} else {
					queryParams.set('search', '')
				};
				if (selectedLanguage && selectedLanguage !== "Language") queryParams.set('language', selectedLanguage);
				if (selectedCategory && selectedCategory !== "Category") queryParams.set('category', selectedCategory);
				
				// Implement your filtering logic here (e.g., fetching filtered data from the server)
				console.log("Applied filters: ", searchValue, selectedLanguage, selectedCategory);
				// Apply the new URL with query params
				location.href = `${window.location.pathname}?${queryParams.toString()}`;
			}
			
			// Function to clear the filter
			function clearFilter () {
				// Clear the inputs and dropdowns
				if (searchInput) searchInput.value = '';
				if (languageSelect) languageSelect.selectedIndex = 0;
				if (categorySelect) categorySelect.selectedIndex = 0;
				
				// Remove query params from the URL
				location.href = 'template';
				
				// Optionally, reload the page or fetch unfiltered data
				console.log("Cleared filters");
			}
			
			// Apply Filter button click event
			if (applyFilterBtn) {
				applyFilterBtn.addEventListener('click', applyFilter);
			}
			
			// Clear Filter button click event
			if (clearFilterBtn) {
				clearFilterBtn.addEventListener('click', clearFilter);
			}
			
			// Close Modal with the Escape Key (optional)
			document.addEventListener('keydown', function (event) {
				const modal = document.getElementById('filter-modal');
				if (event.key === 'Escape' && modal.style.display === 'block') {
					closeModal();
				}
			});
			
			// // Handling File Input
			// const fileInput = document.getElementById("file-input");
			// const fileList = document.getElementById("file-list");
			
			// fileInput.addEventListener("change", function () {
			// 	const files = fileInput.files;
			
			// 	for (const file of files) {
			// 		const fileItem = document.createElement("div");
			// 		fileItem.classList.add("file-item");
			
			// 		const fileStatus = document.createElement("div");
			// 		fileStatus.classList.add("file-status");
			
			// 		const fileName = document.createElement("span");
			// 		fileName.textContent = file.name;
			// 		fileName.classList.add("status-uploading");
			
			// 		const loader = document.createElement("div");
			// 		loader.classList.add("circular-loader");
			
			// 		const statusText = document.createElement("span");
			// 		statusText.textContent = "Uploading...";
			// 		statusText.classList.add("status-uploading");
			
			// 		const removeButton = document.createElement("span");
			// 		removeButton.textContent = "✖";
			// 		removeButton.classList.add("remove-file");
			// 		removeButton.onclick = () => fileItem.remove();
			
			// 		fileStatus.appendChild(loader);
			// 		fileStatus.appendChild(fileName);
			// 		fileStatus.appendChild(statusText);
			// 		fileItem.appendChild(fileStatus);
			// 		fileItem.appendChild(removeButton);
			// 		fileList.appendChild(fileItem);
			
			// 		setTimeout(() => {
			// 			loader.remove();
			// 			statusText.textContent = "Uploaded";
			// 			statusText.classList.remove("status-uploading");
			// 			statusText.classList.add("status-uploaded");
			
			// 			const uploadedIcon = document.createElement("div");
			// 			uploadedIcon.classList.add("uploaded-icon");
			// 			uploadedIcon.textContent = "✔";
			
			// 			fileStatus.prepend(uploadedIcon);
			// 		}, 2000);
			// 	}
			// });
			
			// Example: Refresh Facebook Templates
			async function getStatus () {
				const icon = document.querySelector(".fa-sync");
				try {
					icon.classList.add("animate-spin");
					const res = await fetch("/getFaceBookTemplates");
					const data = await res.json();
					if (!data.success) {
						toast("success", data.error);
					}
					location.reload();
				} catch (err) {
					toast("error", err);
				} finally {
					icon.classList.remove("animate-spin");
				}
			}
		</script>
		
	</div>
	</div>
	<!-- END PAGE CONTAINER -->
	
	
	<!-- BEGIN VENDOR JS -->
	<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
	<!--  A polyfill for browsers that don't support ligatures: remove liga.js if not needed-->
	<script src="assets/plugins/liga.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
	<script src="assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
	<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
	<script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
	<script src="pages/js/pages.js"></script>
	<script src="assets/js/scripts.js" type="text/javascript"></script>
	<script src="assets/js/card.js" type="text/javascript"></script>
	<script src="assets/js/scripts.js" type="text/javascript"></script>
	<script src="/toast.js"></script>
	<script src="/menu.js"></script>
	
	
	<!-- END PAGE LEVEL JS -->
</body>

</html>