<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Whizard - Contact List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> -->
	<script src="https://kit.fontawesome.com/44e4e59292.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
	<!-- <link class="main-stylesheet" href="pages/css/themes/corporate.css" rel="stylesheet" type="text/css" /> 
	<!-- Please remove the file below for production: Contains demo classes -->
	<!-- <link class="main-stylesheet" href="assets/css/style.css" rel="stylesheet" type="text/css" /> -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	
	<link href="styles/style.css" rel="stylesheet" type="text/css" />
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
	<style>
		.error-section {
			transition: all 0.2s ease;
		}
		
		.error-section:hover {
			transform: translateX(2px);
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
		}
		
		.details-content {
			max-height: 300px;
			overflow-y: auto;
		}
	</style>
	
</head>
<%- include("../commonJS/loader") %>

<body>
	<!-- Loader HTML -->
	
	
	<!-- Sidebar -->
	<div class="layout-container">
		<%- include("../commonJS/sidebar")  %>
		<!-- END SIDEBAR MENU TOP TRAY CONTENT-->
		
		<!-- START PAGE-CONTAINER -->
		<div class="main-content">
			<!-- END HEADER -->
			<div class="logo breadCrumb">
				<div class=" flex items-center">
					<!-- START BREADCRUMB -->
					
					<div class="flex items-center">
						<a href="/" class="text-gray-500 hover:text-gray-700 hover:no-underline ">Dashboard</a>
						<svg class="w-4 h-4 mx-2 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L11.586 10 7.293 5.707a1 1 0 011.414-1.414l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
						</svg>
					</div>
					<% if (access?.contactList?.type) { %>
					<a href="/contact-list" class="text-red-600 hover:text-gray-700  hover:no-underline">Contact List</a>
					<% } else { %>
					<a href="javascript:void(0);" title="You don't have permissions to access this" class="cursor-not-allowed text-red-300 hover:text-gray-300  hover:no-underline">Contact List</a>
					<% } %>
					<div class="relative inline-block pl-2">
						<i class="info-icon text-red-700 hover:text-red-900">
							<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<circle cx="12" cy="12" r="10"></circle>
								<line x1="12" y1="16" x2="12" y2="12"></line>
								<line x1="12" y1="8" x2="12.01" y2="8"></line>
							</svg>
							
						</i>
						<div class="tooltip invisible opacity-0 w-64 bg-gray-900 text-white text-sm rounded-lg absolute z-10 p-4 -translate-x-1/2 left-1/2 mt-2 transition-opacity duration-300">
							<!-- Arrow -->
							<div class="absolute -top-2 left-1/2 -translate-x-1/2 w-4 h-4 bg-gray-900 transform rotate-45"></div>
							<!-- Content -->
							<div class="relative">
								Upload and manage contacts, segment them for targeted messaging, and broadcast campaigns. You can also delete lists as needed.
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- START card -->
			<div class="w-full pt-2">
				<div class="flex w-full justify-between items-center px-2">
					<div class="">
						<h6 class="p-3 text-2xl">Contact List</h6>
					</div>
					
					<div class="flex items-center justify-evenly">
						<div class="border flex rounded-lg items-center py-2 px-2 w-72 mr-3">
							<svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 -960 960 960" width="24px" fill="gray">
								<path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
							</svg>
							<input type="search" id="searchInput" placeholder="Search by contact list name" class="outline-none focus:outline-none w-full" />
						</div>
						<% if (access?.contactList?.customField) { %>
						<div class="text-center pr-3">
							<button aria-label="" onclick="document.location='/contact-list/custom-field'" type="button" class="border py-2 px-2 rounded-lg transition-colors ease-in-out duration-300 hover:bg-gray-100 text-base font-medium">
								Manage custom fields
							</button>
						</div>
						<% } else { %>
						<div class="text-center pr-3">
							<button title="You don't have permissions to access this" type="button" class="border py-2 hover:cursor-not-allowed px-2 rounded-lg transition-colors ease-in-out duration-300 hover:text-gray-400 text-base font-medium">
								Manage custom fields
							</button>
						</div>
						<% } %>
						
						<% if (access?.contactList?.addContactListCSV) { %>
						<button aria-label="Create new Contact list" type="button" id="create-List" class="inline-flex items-center py-[0.70rem] px-[0.8rem] border border-transparent text-sm font-medium rounded-md text-white  bg-black hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black">
							<i class="fa-solid fa-plus pr-2"></i>
							<span>Create new Contact List</span>
						</button>
						<% } else { %>
						<button title="You don't have permissions to access this" class="inline-flex items-center py-[0.70rem] px-[0.8rem] border border-transparent text-sm font-medium rounded-md text-white bg-black cursor-not-allowed hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black" disabled>
							<i class="fa-solid fa-plus pr-2"></i>
							<span>Create new Contact List</span>
						</button>
						<% } %>
						
					</div>
					<% if (access?.contactList?.addContactListCSV) { %>
					<!-- Pop-Up Modal to create List -->
					<%- include('partials/createList') %>
					<% } %>
				</div>
				
				<!-- Contact list table -->
				<div class="flex justify-center w-full">
					<div id="contactListTable" class="w-[95%]">
						<%- include('partials/contactListTable') %>
					</div>
				</div>
			</div>
			
			<!-- Pop-Up Modal to Edit List -->
			<%- include('partials/editContactList') %>
			
			
		</div>
	</div>
	<!-- END PAGE CONTAINER -->
	<!-- BEGIN VENDOR JS -->
	<script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
	<!--  A polyfill for browsers that don't support ligatures: remove liga.js if not needed-->
	<script src="assets/plugins/liga.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
	<script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
	<script src="assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
	<script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
	<script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
	<script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
	<!-- END VENDOR JS -->
	<!-- BEGIN CORE TEMPLATE JS -->
	<!-- BEGIN CORE TEMPLATE JS -->
	<script src="pages/js/pages.js"></script>
	<!-- END CORE TEMPLATE JS -->
	<!-- BEGIN PAGE LEVEL JS -->
	<script src="assets/js/scripts.js" type="text/javascript"></script>
	<!-- END PAGE LEVEL JS -->
	<!-- END CORE TEMPLATE JS -->
	<!-- BEGIN PAGE LEVEL JS -->
	<script src="assets/js/card.js" type="text/javascript"></script>
	<script src="assets/js/scripts.js" type="text/javascript"></script>
	<!-- <script src="https://kit.fontawesome.com/44e4e59292.js" crossorigin="anonymous"></script> -->
	<script src="/contact-list/js/createList.js"></script>
	<script src="/contact-list/js/editContactList.js"></script>
	<script src="/toast.js"></script>
	<script src="/menu.js"></script>
	
	<!-- END PAGE LEVEL JS -->
</body>

</html>