<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<title>Chats - Whizard</title>
	<link rel="stylesheet" href="styles/style.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
	<script src="https://cdn.tailwindcss.com"></script>
</head>
<%- include("../commonJS/loader") %>

<body>
	<div class="layout-container">
		<%- include("../commonJS/sidebar")  %>
		<div class="main-content">
			<!-- <iframe src="https://whizard-chat.web.app/#/main?token=<%= token %>&phoneNumberId=<%= phoneNumberId %>&phoneNumberName=<%= phoneNumberName %>&phoneNumber=<%= phoneNumber %>" class="w-full h-full bg-transparent border-none" frameborder="0" allow="geolocation; microphone; camera; fullscreen; clipboard-read; clipboard-write" sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-same-origin allow-scripts allow-top-navigation allow-top-navigation-by-user-activation" title="Chat Interface" aria-label="Embedded Chat Application" scrolling="no" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen allowpaymentrequest="false"></iframe> -->
			<iframe src="https://whizard-chat--test-whizard-tmey4yno.web.app/#/main?token=<%= token %>&phoneNumberId=<%= phoneNumberId %>&phoneNumberName=<%= phoneNumberName %>&phoneNumber=<%= phoneNumber %>" class="w-full h-full bg-transparent border-none" frameborder="0" allow="geolocation; microphone; camera; fullscreen; clipboard-read; clipboard-write" sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-popups-to-escape-sandbox allow-presentation allow-same-origin allow-scripts allow-top-navigation allow-top-navigation-by-user-activation" title="Chat Interface" aria-label="Embedded Chat Application" scrolling="no" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen allowpaymentrequest="false"></iframe>
		</div>
	</div>
	<script src="/menu.js"></script>
	<script src="/toast.js"></script>
</body>

</html>