<div class="flex flex-wrap">
	<% list.forEach(template => { %>
	<div class="col-12 col-md-6 col-lg-3 py-2">
		<div class="custom-card-container shadow-sm">
			<div class="card-container p-3">
				<div class="custom-card-body bg-white ">
					
					<!-- HEADER COMPONENT -->
					<% template.components.forEach(component => { %>
					<% if (component.type === 'HEADER') { %>
					<% if (component.text) { %>
					<h6 class="custom-card-header">
						<%- component.text.replace(/\n/g, '<br>') %>
					</h6>
					<% } else if (component.format === 'IMAGE' && component.example?.header_url) { %>
					<img src="<%= component.example?.header_url?.split("/").slice(3).join("/") %>" alt="Header Media" class="custom-card-img">
					<% } else if (component.format === 'VIDEO' && component.example?.header_url) { %>
					<video class="custom-card-video" controls>
						<source src="<%= component.example?.header_url?.split("/").slice(3).join("/") %>" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<% } else if (component.format === 'DOCUMENT' && component.example?.header_url) { %>
					<iframe src="<%= component.example?.header_url?.split("/").slice(3).join("/") %>" class="max-w-full h-auto object-contain"></iframe>
					<% } %>
					<% } %>
					
					
					<!-- BODY AND FOOTER COMPONENTS -->
					
					<% if (component.type === 'BODY') { %>
					<p class="custom-card-body-text py-2">
						<%- component.text.replace(/\n/g, '<br>') %>
					</p>
					<% } else if (component.type === 'FOOTER') { %>
					<p class="custom-card-footer-text text-sm text-gray-500 py-2">
						<%- component.text.replace(/\n/g, '<br>') %>
					</p>
					<% } %>
					
					
					<!-- BUTTON COMPONENTS -->
					
					<% if (component.type === 'BUTTONS') { %>
					<% component.buttons.forEach(button => { %>
					<% if (button.type == "PHONE_NUMBER") { %>
					<button class="w-full border-b border-gray-300 py-2" id="callBtn" draggable="true" onclick="window.location.href='tel:<%= button.phone_number %>'" style="color: #6A67FF;">
						<i class="fa fa-phone mx-2"></i><%= button.text %>
					</button>
					<% } else { %>
					<button class="w-full border-b border-gray-300 py-2" id="websiteBtn" draggable="true" onclick="window.open('<%= button.url %>', '_blank')" style="color: #6A67FF;">
						<i class="fa fa-external-link mx-2"></i><%= button.text %>
					</button>
					<% } %>
					
					<% }); %>
					<% } %>
					<% }); %>
					
				</div>
			</div>
			<div class="custom-card-footer">
				<%= template.name %>
			</div>
		</div>
	</div>
	<% }); %>
</div>