<div class="flex flex-wrap">
	<% list.forEach(template => { %>
	<div class="col-12 col-md-6 col-lg-3 py-2">
		<div class="custom-card-container shadow-sm">
			<div class="card-container p-3">
				<div class="custom-card-body bg-white ">
					
					<% if (template.category === "Authentication") { %>
					<% template.dynamicVariables.body.forEach((body) => { %>
					<p class="custom-card-body-text p-2">
						<%- body?.text.replace(/\n/g, '<br>') %>
					</p>
					<% }) %>
					
					<% template.dynamicVariables.footer.forEach((footer) => { %>
					<p class="custom-card-footer-text text-sm text-gray-500 p-2">
						<%- footer?.text?.replace(/\n/g, '<br>') %>
					</p>
					<% }) %>
					
					<% template.dynamicVariables.buttons.forEach((button) => { %>
					<% if (button.auto) { %>
					<button class="w-full border-t hover:cursor-default border-gray-300 py-2" style="color: #6A67FF;">
						<%= button?.auto %>
					</button>
					<% } %>
					<% if (button.copy) { %>
					<button class="w-full border-t hover:cursor-default border-gray-300 py-2 flex items-center justify-center" style="color: #6A67FF;">
						<svg xmlns="http://www.w3.org/2000/svg" fill="#2563eb" viewBox="0 0 256 256" class="w-7 pr-2">
							<path d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"></path>
						</svg>
						<%= button?.copy %>
					</button>
					<% } %>
					<% }); %>					
					
					<% } else { %>
					
					<!-- HEADER COMPONENT -->
					<% template.components.forEach(component => { %>
					<% if (component?.type === 'HEADER') { %>
					<% if (component?.text) { %>
					<h6 class="custom-card-header">
						<%- component?.text?.replace(/\n/g, '<br>') %>
					</h6>
					<% } else if (component.format === 'IMAGE' && component.example?.header_url) { %>
					<img src="<%= component.example?.header_url?.split("/").slice(3).join("/") %>" alt="Header Media" class="custom-card-img">
					<% } else if (component.format === 'VIDEO' && component.example?.header_url) { %>
					<video class="custom-card-video" controls>
						<source src="<%= component.example?.header_url?.split("/").slice(3).join("/") %>" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<% } else if (component.format === 'DOCUMENT' && component.example?.header_url) { %>
					<iframe src="<%= component.example?.header_url?.split("/").slice(3).join("/") %>" class="max-w-full h-auto object-contain"></iframe>
					<% } %>
					<% } %>
										
					<!-- BODY AND FOOTER COMPONENTS -->
					
					<% if (component?.type === 'BODY') { %>
					<p class="custom-card-body-text p-2">
						<%- template?.body_preview || component?.text?.replace(/\n/g, '<br>')  %>
					</p>
					<% } else if (component?.type === 'FOOTER') { %>
					<p class="custom-card-footer-text text-sm text-gray-500 p-2">
						<%- component?.text?.replace(/\n/g, '<br>') %>
					</p>
					<% } %>
					
					
					<!-- BUTTON COMPONENTS -->
					
					<% if (component?.type === 'BUTTONS') { %>
					<% component?.buttons?.forEach(button => { %>
					<% if (button.type == "PHONE_NUMBER") { %>
					<button class="w-full border-t hover:cursor-default border-gray-300 py-2" id="callBtn" style="color: #6A67FF;">
						<i class="fa fa-phone mx-2"></i><%= button?.text %>
					</button>
					<% } else { %>
					<button class="w-full border-t hover:cursor-default border-gray-300 py-2" id="websiteBtn" style="color: #6A67FF;">
						<i class="fa fa-external-link mx-2"></i><%= button?.text %>
					</button>
					<% } %>
					<% }); %>
					<% } %>
					<% }); %>
					<% } %>
				</div>
			</div>
			<div class="custom-card-footer">
				<%= template?.name %>
			</div>
		</div>
	</div>
	<% }); %>
</div>